templates/workflow/base.json
{
  "name": "{WORKFLOW_NAME}",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 160]
    },
    {
      "parameters": {
        "jsCode": "// 메인 로직을 여기에 작성하세요\nconst item = $input.first().json;\n\nreturn [{ json: { ...item, processed: true } }];\n"
      },
      "id": "node-main-logic",
      "name": "Main Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 80]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Main Logic", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "Main Logic", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false,
  "tags": []
}
