projects/chart-automation/workflows/chart-automation.json
{
  "name": "경제지표 차트 자동화",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE",
          "mode": "list",
          "cachedResultName": "경제지표 차트 자동화",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "환율",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "원/달러(종가 15:30)": "={{ $json['원/달러(종가 15:30)'] }}",
            "원/달러(종가 02:00)": "={{ $json['원/달러(종가 02:00)'] }}",
            "DATE": "={{ $json.DATE }}",
            "Comment": "={{ $json.output }}",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "원/달러(종가 02:00)",
              "displayName": "원/달러(종가 02:00)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "원/달러(종가 15:30)",
              "displayName": "원/달러(종가 15:30)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "n11",
      "name": "Append Exchange Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2592,
        352
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwa1sjnJPULfEh40",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 환율/유가/채권 데이터 합산 -> AI Agent용 userMsg 조립\nconst items = $input.all();\nlet exchangeData = {}, oilData = {}, bondData = {};\nconst newsList = [];\n\nfor (const it of items) {\n  const d = it.json;\n  if (d.category === 'exchange') exchangeData = d;\n  else if (d.category === 'oil') oilData = d;\n  else if (d.category === 'bond') bondData = d;\n  if (d.news_text) newsList.push(d.news_text);\n}\n\nconst today = exchangeData.DATE || oilData.DATE || bondData.DATE\n  || new Date().toISOString().slice(0, 10);\n\nconst usdKrw = (() => {\n  for (const k of Object.keys(exchangeData)) {\n    if (k.includes('달러') || k.includes('USD') || k.includes('15:30')) return exchangeData[k];\n  }\n  return null;\n})();\nconst wti = (() => {\n  for (const k of Object.keys(oilData)) {\n    if (k.includes('WTI') || k.includes('유가') || k.includes('NYMEX')) return oilData[k];\n  }\n  return null;\n})();\nconst b3 = (() => {\n  for (const k of Object.keys(bondData)) {\n    if (k.includes('3년') || k.includes('3Y')) return bondData[k];\n  }\n  return null;\n})();\nconst b10 = (() => {\n  for (const k of Object.keys(bondData)) {\n    if (k.includes('10년') || k.includes('10Y')) return bondData[k];\n  }\n  return null;\n})();\n\nconst userMsg = [\n  '오늘 날짜: ' + today,\n  '달러-원 환율(15:30): ' + (usdKrw != null ? usdKrw + '원' : 'N/A'),\n  'WTI 유가: $' + (wti != null ? wti : 'N/A'),\n  '국채 3년: ' + (b3 != null ? b3 + '%' : 'N/A'),\n  '국채 10년: ' + (b10 != null ? b10 + '%' : 'N/A'),\n  '',\n  '관련 뉴스:',\n  newsList.join('\\n\\n') || '뉴스 없음'\n].join('\\n');\n\nreturn [{ json: { today, usdKrw, wti, b3, b10, userMsg } }];"
      },
      "id": "n14",
      "name": "Build Comment Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        784
      ]
    },
    {
      "parameters": {
        "chatId": "=@undergroundresearch36",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "n16",
      "name": "Send Comment Text",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4384,
        784
      ],
      "webhookId": "b8005ef2-3b26-4dd6-82d8-4a605a75d57e",
      "credentials": {
        "telegramApi": {
          "id": "OhTzD6yy7QWhnLZ2",
          "name": "밑바닥리서치 뉴스 자동화 브리핑 워크플로우"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 유효한 숫자값이 있는 행만 필터링하는 헬퍼 함수\nfunction hasValidValue(item, key) {\n  const v = item.json[key];\n  return v !== undefined && v !== null && v !== '' && !isNaN(parseFloat(v));\n}\n\n// 데이터 분류 및 날짜 오름차순 정렬\nconst 환율Data = items\n  .filter(i => hasValidValue(i, '원/달러(종가 15:30)'))\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nconst 유가Data = items\n  .filter(i => hasValidValue(i, 'WTI유(NYMEX)'))\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nconst 국고채Data = items\n  .filter(i => hasValidValue(i, '국고채권(3년)'))\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nfunction buildChart(labels, datasets, title) {\n  return {\n    type: 'line',\n    data: { labels, datasets },\n    options: {\n      title: { display: true, text: title, fontSize: 16 },\n      legend: { display: true },\n      scales: {\n        xAxes: [{ ticks: { maxTicksLimit: 10, maxRotation: 45 } }]\n      }\n    }\n  };\n}\n\nconst charts = [];\n\nif (환율Data.length > 0) {\n  charts.push({\n    chartName: '환율',\n    chart: buildChart(\n      환율Data.map(i => i.json['DATE']),\n      [\n        {\n          label: '원/달러(종가 02:00)',\n          data: 환율Data.map(i => parseFloat(i.json['원/달러(종가 02:00)']) || null),\n          borderColor: '#1565C0',\n          backgroundColor: 'rgba(21,101,192,0.1)',\n          fill: false,\n          tension: 0.1\n        },\n        {\n          label: '원/달러(종가 15:30)',\n          data: 환율Data.map(i => parseFloat(i.json['원/달러(종가 15:30)']) || null),\n          borderColor: '#42A5F5',\n          backgroundColor: 'rgba(66,165,245,0.1)',\n          fill: false,\n          tension: 0.1\n        }\n      ],\n      'USD/KRW 환율'\n    )\n  });\n}\n\nif (유가Data.length > 0) {\n  charts.push({\n    chartName: '유가',\n    chart: buildChart(\n      유가Data.map(i => i.json['DATE']),\n      [\n        {\n          label: 'WTI유(NYMEX)',\n          data: 유가Data.map(i => parseFloat(i.json['WTI유(NYMEX)']) || null),\n          borderColor: '#E65100',\n          backgroundColor: 'rgba(230,81,0,0.1)',\n          fill: true,\n          tension: 0.1\n        }\n      ],\n      'WTI 유가'\n    )\n  });\n}\n\nif (국고채Data.length > 0) {\n  charts.push({\n    chartName: '국고채',\n    chart: buildChart(\n      국고채Data.map(i => i.json['DATE']),\n      [\n        {\n          label: '국고채(3년)',\n          data: 국고채Data.map(i => parseFloat(i.json['국고채권(3년)']) || null),\n          borderColor: '#2E7D32',\n          fill: false,\n          tension: 0.1\n        },\n        {\n          label: '국고채(10년)',\n          data: 국고채Data.map(i => parseFloat(i.json['국고채권(10년)']) || null),\n          borderColor: '#FF8F00',\n          fill: false,\n          tension: 0.1\n        },\n      ],\n      '국고채 금리'\n    )\n  });\n}\n\nreturn charts.map(c => ({\n  json: {\n    chartName: c.chartName,\n    width: 800,\n    height: 400,\n    backgroundColor: 'white',\n    chart: c.chart\n  }\n}));\n"
      },
      "id": "n17",
      "name": "Build QuickChart JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart/create",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chart",
              "value": "={{ $json.chart }}"
            },
            {
              "name": "width",
              "value": "={{ $json.width }}"
            },
            {
              "name": "height",
              "value": "={{ $json.height }}"
            },
            {
              "name": "backgroundColor",
              "value": "={{ $json.backgroundColor }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "n18",
      "name": "Send to QuickChart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3712,
        544
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "=@undergroundresearch36",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "n19",
      "name": "Send Chart Photos",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3936,
        544
      ],
      "webhookId": "890c0a74-7c94-490d-9b68-1928a34ec86d",
      "credentials": {
        "telegramApi": {
          "id": "OhTzD6yy7QWhnLZ2",
          "name": "밑바닥리서치 뉴스 자동화 브리핑 워크플로우"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE",
          "mode": "list",
          "cachedResultName": "경제지표 차트 자동화",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "환율",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=0"
        },
        "options": {}
      },
      "id": "n12",
      "name": "환율 Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3040,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwa1sjnJPULfEh40",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE",
          "mode": "list",
          "cachedResultName": "경제지표 차트 자동화",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 604037688,
          "mode": "list",
          "cachedResultName": "유가",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=604037688"
        },
        "options": {}
      },
      "id": "28d75a01-4031-4768-8150-4a120fdcedcd",
      "name": "유가 Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3040,
        480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwa1sjnJPULfEh40",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE",
          "mode": "list",
          "cachedResultName": "경제지표 차트 자동화",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2013300130,
          "mode": "list",
          "cachedResultName": "국고채",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=2013300130"
        },
        "options": {}
      },
      "id": "74ebc57a-1487-47b8-b36b-1c0da7994685",
      "name": "국고채 Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3040,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwa1sjnJPULfEh40",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d837e764-2549-4e8c-b92e-c797cc150a94",
              "leftValue": "={{ $json['DATE'] }}",
              "rightValue": "={{ $now.minus({days: 60}).toFormat('yyyy-MM-dd') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        3264,
        544
      ],
      "id": "214fe66e-a8b6-4849-9c2b-8ca5b1737bda",
      "name": "기간 필터"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */5 17-20 * * 1-5"
            }
          ]
        },
        "feedUrl": "https://news.einfomax.co.kr/rss/S1N16.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        224,
        1040
      ],
      "id": "3960e4f9-651c-4962-9422-57bf4abf6908",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exchange",
              "leftValue": "={{ $json.title }}",
              "rightValue": "[서환-마감]",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            },
            {
              "id": "cond-bond",
              "leftValue": "={{ $json.title }}",
              "rightValue": "[채권-마감]",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            },
            {
              "id": "cond-oil",
              "leftValue": "={{ $json.title }}",
              "rightValue": "[뉴욕유가]",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        1136
      ],
      "id": "afb7ad63-ed21-4d7b-b8e6-72e15d9ddd70",
      "name": "Filter"
    },
    {
      "parameters": {
        "jsCode": "// 환율 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'exchange') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜: '입력 2026.04.03'\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nconst date = dateMatch ? dateMatch[1]+'-'+dateMatch[2]+'-'+dateMatch[3] : new Date().toISOString().slice(0,10);\n\n// 15:30 정규장 종가\nconst c15 = text.match(/오후 3시 30분 기준으로.+?([1-9],?\\d{3}\\.\\d+)원에 정규장/);\nconst usd_krw_1530 = c15 ? parseFloat(c15[1].replace(/,/g,'')) : null;\n\n// 시가 (전날 NDF)\nconst cOpen = text.match(/전날 대비.+?([1-9],?\\d{3}\\.\\d+)원에서 거래를 시작/);\nconst usd_krw_0200 = cOpen ? parseFloat(cOpen[1].replace(/,/g,'')) : null;\n\n// 뉴스 요약 (리드 문단)\nconst lead = text.match(/\\(서울=연합인포맥스\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[1].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  '원/달러(종가 15:30)': usd_krw_1530,\n  '원/달러(종가 02:00)': usd_krw_0200,\n  news_text: newsText,\n  category: 'exchange'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        432
      ],
      "id": "5c922a4e-0506-4df3-8402-0b1d9897d5e9",
      "name": "Parse Exchange"
    },
    {
      "parameters": {
        "jsCode": "// 유가 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'oil') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜 (기사 날짜 - 1일: 뉴욕 마감은 전날 기준)\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nlet date;\nif (dateMatch) {\n  const d = new Date(`${dateMatch[1]}-${dateMatch[2]}-${dateMatch[3]}`);\n  d.setDate(d.getDate() - 1);\n  date = d.toISOString().slice(0, 10);\n} else {\n  const d = new Date();\n  d.setDate(d.getDate() - 1);\n  date = d.toISOString().slice(0, 10);\n}\n\n// WTI 종가: '배럴당 111.54달러에 마감'\nconst wtiMatch = text.match(/배럴당\\s*([\\d,]+\\.?\\d*)\\s*달러에 마감/);\nconst wti = wtiMatch ? parseFloat(wtiMatch[1].replace(/,/g,'')) : null;\n\n// 뉴스 요약\nconst lead = text.match(/\\((뉴욕|서울)=연합[^)]*\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[2].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  'WTI유(NYMEX)': wti,\n  news_text: newsText,\n  category: 'oil'\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1184
      ],
      "id": "77e950be-59aa-466e-94af-cfa9f744d74b",
      "name": "Parse Oil"
    },
    {
      "parameters": {
        "jsCode": "// 채권 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'bond') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nconst date = dateMatch ? dateMatch[1]+'-'+dateMatch[2]+'-'+dateMatch[3] : new Date().toISOString().slice(0,10);\n\n// 3년물\nconst b3 = text.match(/국고채 3년물 최종호가 수익률은[^%]*?(\\d+\\.\\d+)%/);\n// 10년물\nconst b10 = text.match(/국고채 10년물 금리는[^%]*?(\\d+\\.\\d+)%/);\n\n// 뉴스 요약\nconst lead = text.match(/\\(서울=연합인포맥스\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[1].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  '국고채권(3년)': b3 ? parseFloat(b3[1]) : null,\n  '국고채권(10년)': b10 ? parseFloat(b10[1]) : null,\n  news_text: newsText,\n  category: 'bond'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1376
      ],
      "id": "f64f37d6-6205-4210-9cae-c32dc4d72ec6",
      "name": "Parse Bond"
    },
    {
      "parameters": {
        "jsCode": "// 기사 제목으로 category 부여 + URL 추출\nconst item = $input.first().json;\nconst title = item.title || '';\nconst link = item.link || item.url || item.guid || '';\n\nlet category = null;\nif (title.includes('[서환-마감]')) category = 'exchange';\nelse if (title.includes('[채권-마감]')) category = 'bond';\nelse if (title.includes('[뉴욕유가]')) category = 'oil';\n\nif (!category) return [];\n\nreturn [{ json: { ...item, category, articleUrl: link } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1136
      ],
      "id": "1d17bd3c-5186-4be4-901e-26d62ad934a6",
      "name": "키워드별 분류"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "0 */5 4-9 * * 2-6"
            }
          ]
        },
        "feedUrl": "https://news.einfomax.co.kr/rss/S1N9.xml"
      },
      "id": "rss-s1n9-0001-0001-0001-000000000001",
      "name": "RSS S1N9 (유가)",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        224,
        1232
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE",
          "mode": "list",
          "cachedResultName": "경제지표 차트 자동화"
        },
        "sheetName": {
          "__rl": true,
          "value": 604037688,
          "mode": "list",
          "cachedResultName": "유가"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.DATE }}",
            "WTI유(NYMEX)": "={{ $json['WTI유(NYMEX)'] }}",
            "Comment": "={{ $json.output }}",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WTI유(NYMEX)",
              "displayName": "WTI유(NYMEX)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "append-oil-0001-0001-0001-000000000001",
      "name": "Append Oil Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2592,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwa1sjnJPULfEh40",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE",
          "mode": "list",
          "cachedResultName": "경제지표 차트 자동화"
        },
        "sheetName": {
          "__rl": true,
          "value": 2013300130,
          "mode": "list",
          "cachedResultName": "국고채"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "DATE": "={{ $json.DATE }}",
            "국고채권(3년)": "={{ $json['국고채권(3년)'] }}",
            "국고채권(10년)": "={{ $json['국고채권(10년)'] }}",
            "Comment": "={{ $json.output }}",
            "category": "={{ $json.category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "국고채권(3년)",
              "displayName": "국고채권(3년)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "국고채권(10년)",
              "displayName": "국고채권(10년)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "append-bond-001-0001-0001-000000000001",
      "name": "Append Bond Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2592,
        1328
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vwa1sjnJPULfEh40",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-node-001-0001-0001-000000000001",
      "name": "Merge Chart+Comment",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4160,
        784
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.articleUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "http-article-nd-0001-0001-000000000001",
      "name": "HTTP Request Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1216
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "#article-view-content-div"
            }
          ]
        },
        "options": {}
      },
      "id": "html-extract-nd-0001-0001-000000000001",
      "name": "Extract Article HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1120,
        1216
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-article-nd-001-0001-000000000001",
      "name": "Merge Article Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        1136
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2368,
        352
      ],
      "id": "8a3e3163-f861-4b8e-919e-130c92563580",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2368,
        608
      ],
      "id": "e00be533-a683-488b-a250-25e3e8a6d07f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2368,
        1328
      ],
      "id": "251cf479-c419-4cc9-adc4-785b8e48ddc6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "exchange",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "42ba8b6f-f42e-442a-85f8-055b87aee03e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Exchange"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05bc58e3-2bae-4af0-9df3-59d7a83e1af4",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "oil",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Oil"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f0cb6597-a3c1-41e9-aa26-1bd1753b789c",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "bond",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bond"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2816,
        528
      ],
      "id": "d5d6087c-5d21-466b-b960-f718cc41a497",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMsg }}",
        "options": {
          "systemMessage": "={{ systemPrompt = '당신은 한국 금융시장 데이터 분석가입니다.\\n주어진 뉴스와 데이터에서 실제로 언급된 지표만 추출하여 서술하세요. \\n제시된 뉴스는 채권, 유가, 환율 중 하나의 기사입니다. 다음 규칙에 따라 유가 기사면 유가내용만, 채권 기사면 채권내용만, 환율기사면 환율 내용만 출력하세요. \\n\\n[규칙]\\n- 문단 구분, 엔터 절대 금지\\n- 뉴스에 실제로 수치나 내용이 있는 지표만 작성한다\\n- 데이터가 없는 지표는 절대 언급하지 않는다\\n- 미래 전망·추측 표현 절대 금지: 향후, 앞으로, 전망, 가능성이 있다, 영향을 미칠 수 있다\\n- 각 지표는 2~3문장, 문장은 반드시 명사형 종결 (~함, ~됨, ~기록, ~마감)\\n- plain text 반환, 제목 없음\\n\\n[출력 예시]\\nWTI 유가는 16.41% 하락하여 배럴당 94.41달러에 마감. 미국과 이란 간 휴전 합의로 호르무즈 해협 봉쇄 해제 가능성이 높아진 것이 주요 원인. 3월 25일 종가 90.32달러 이후 최저 수준 기록.\\n\\n달러-원 환율은 1,482.50원으로 전일 대비 11.90원 상승 마감. 1,480.60원 시가 출발 후 1,484.80원 고점 기록. 관망 심리 우세로 장중 1,480원선 횡보.\\n\\n국채 3년 금리는 3.338%로 전일 대비 2.3bp 상승, 국채 10년 금리는 3.660%로 전일 대비 3.2bp 상승. 이스라엘의 레바논 공습으로 휴전 협정 균열 우려가 부각되며 약세 출발, 외국인 매도세가 추가 약세 압력으로 작용. 한국은행 금융통화위원회를 앞두고 관망 심리가 채권시장 전반에 확산.'; }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2016,
        784
      ],
      "id": "169b9417-bfa3-4cbd-b4a7-785219e3d5e3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2096,
        1008
      ],
      "id": "708f9901-d6c0-40ad-a5f7-887860ba45e2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UoYETyZhfRGH368H",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS S1N9 (유가)": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "키워드별 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "키워드별 분류": {
      "main": [
        [
          {
            "node": "HTTP Request Article",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Exchange": {
      "main": [
        [
          {
            "node": "Build Comment Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Oil": {
      "main": [
        [
          {
            "node": "Build Comment Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Bond": {
      "main": [
        [
          {
            "node": "Build Comment Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append Exchange Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "환율 Data": {
      "main": [
        [
          {
            "node": "기간 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "유가 Data": {
      "main": [
        [
          {
            "node": "기간 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "국고채 Data": {
      "main": [
        [
          {
            "node": "기간 필터",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기간 필터": {
      "main": [
        [
          {
            "node": "Build QuickChart JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QuickChart JSON": {
      "main": [
        [
          {
            "node": "Send to QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to QuickChart": {
      "main": [
        [
          {
            "node": "Send Chart Photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chart Photos": {
      "main": [
        [
          {
            "node": "Merge Chart+Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Comment Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chart+Comment": {
      "main": [
        [
          {
            "node": "Send Comment Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Comment Text": {
      "main": [
        []
      ]
    },
    "Append Oil Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Bond Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Article": {
      "main": [
        [
          {
            "node": "Extract Article HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article HTML": {
      "main": [
        [
          {
            "node": "Merge Article Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Article Data": {
      "main": [
        [
          {
            "node": "Parse Exchange",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Oil",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Bond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append Oil Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append Bond Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append Exchange Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "환율 Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "유가 Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "국고채 Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Chart+Comment",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Seoul",
    "binaryMode": "separate"
  },
  "versionId": "b3083993-a433-418b-9bfc-0689e4604006",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2123bad4264795855128486addb6edf83a2896f86dec4aa9fc310910b3b07d45"
  },
  "id": "WW51yZ7oEmyp01kW",
  "tags": []
}