projects/chart-automation/workflows/chart-automation.json
{"updatedAt":"2026-04-07T02:52:23.564Z","createdAt":"2026-04-04T16:57:10.635Z","id":"WW51yZ7oEmyp01kW","name":"경제지표 차트 자동화","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"환율","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"원/달러(종가 15:30)":"={{ $json['원/달러(종가 15:30)'] }}","원/달러(종가 02:00)":"={{ $json['원/달러(종가 02:00)'] }}","DATE":"={{ $json.DATE }}","Comment":"={{ $json.choices[0].message.content }}","category":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"원/달러(종가 02:00)","displayName":"원/달러(종가 02:00)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"원/달러(종가 15:30)","displayName":"원/달러(종가 15:30)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"n11","name":"Append Exchange Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2464,32],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 환율/유가/채권 아이템 합산 -> GPT 프롬프트\nconst items = $input.all();\nlet exchangeData = {}, oilData = {}, bondData = {};\nconst newsList = [];\n\nfor (const it of items) {\n  const d = it.json;\n  if (d.category === 'exchange') exchangeData = d;\n  else if (d.category === 'oil') oilData = d;\n  else if (d.category === 'bond') bondData = d;\n  if (d.news_text) newsList.push(d.news_text);\n}\n\nconst today = exchangeData.DATE || oilData.DATE || bondData.DATE\n  || new Date().toISOString().slice(0,10);\n\nconst systemPrompt = '당신은 한국 금융시장 애널리스트입니다. 아래 경제지표와 뉴스를 바탕으로 시황 코멘트를 작성하세요.\\n\\n[작성 규칙]\\n- 핵심 주체(환율·유가·국채)를 앞에 제시하고 쉼표로 맥락 연결\\n- 배경·원인 → 핵심 내용 → 결과·의미·전망 순서로 서술\\n- 종가 수치, 변동폭, %p 등 구체적 숫자 반드시 포함\\n- 2~3문장, 각 문장 40자 내외, 이모지·출처 없이 한 단락 (줄바꿈 없음)\\n- 쉼표로 맥락을 연결하며 밀도 있게 작성\\n\\n[출력 형식] JSON 한 줄만 반환, 코드블록 없이\\n{\"title\": \"핵심 지표와 이슈를 담은 20자 내외 제목\", \"summary\": \"2~3문장 관련 코멘트\"}\\n\\n[출력 예시]\\n{\"title\": \"달러-원 환율 강보합\", \"summary\": \"달러-원 환율이 1,506.3원으로 전장 대비 1.10원 상승, 미국과 이란의 군사 긴장이 환율 강세 요인으로 작용. 지난 장에서 1,510.30원으로 시작했으나 최저 1,503.50원까지 하락하며 1,505원 부근에서 등락을 반복. 앞으로의 이란의 상황에 따라 불확실성이 지속될 전망.\"}';\n\nconst usdKrw = exchangeData['원/달러(종가 15:30)'];\nconst wti = oilData['WTI유(NYMEX)'];\nconst b3 = bondData['국고채권(3년)'];\nconst b10 = bondData['국고채권(10년)'];\n\nconst userMsg = [\n  '오늘 날짜: ' + today,\n  '달러-원 환율(15:30): ' + (usdKrw != null ? usdKrw + '원' : 'N/A'),\n  'WTI 유가: $' + (wti != null ? wti : 'N/A'),\n  '국채 3년: ' + (b3 != null ? b3 + '%' : 'N/A'),\n  '국채 10년: ' + (b10 != null ? b10 + '%' : 'N/A'),\n  '',\n  '관련 뉴스:',\n  newsList.join('\\n\\n') || '뉴스 없음'\n].join('\\n');\n\nconst requestBody = JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userMsg }\n  ],\n  max_tokens: 600\n});\n\nreturn [{ json: { today, usdKrw, wti, b3, b10, requestBody } }];"},"id":"n14","name":"Build Comment Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,416]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.requestBody }}","options":{}},"id":"n15","name":"Generate Comment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,416],"credentials":{"openAiApi":{"id":"UoYETyZhfRGH368H","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"=@undergroundresearch36","text":"={{ (() => { try { const raw = $json.choices && $json.choices[0] ? $json.choices[0].message.content : null; if (!raw) return '시황 코멘트를 생성하지 못했습니다.'; const r = JSON.parse(raw); return r.title + '\\n\\n' + r.summary; } catch(e) { return $json.choices[0].message.content; } })() }}","additionalFields":{"appendAttribution":false}},"id":"n16","name":"Send Comment Text","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4256,176],"webhookId":"b8005ef2-3b26-4dd6-82d8-4a605a75d57e","credentials":{"telegramApi":{"id":"OhTzD6yy7QWhnLZ2","name":"밑바닥리서치 뉴스 자동화 브리핑 워크플로우"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\n// 데이터 분류 및 날짜 오름차순 정렬\nconst 환율Data = items\n  .filter(i => i.json['원/달러(종가 15:30)'] !== undefined)\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nconst 유가Data = items\n  .filter(i => i.json['WTI유(NYMEX)'] !== undefined)\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nconst 국고채Data = items\n  .filter(i => i.json['국고채권(3년)'] !== undefined)\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nfunction buildChart(labels, datasets, title) {\n  return {\n    type: 'line',\n    data: { labels, datasets },\n    options: {\n      title: { display: true, text: title, fontSize: 16 },\n      legend: { display: true },\n      scales: {\n        xAxes: [{ ticks: { maxTicksLimit: 10, maxRotation: 45 } }]\n      }\n    }\n  };\n}\n\nconst charts = [];\n\n// 환율 데이터가 있을 때만 추가\nif (환율Data.length > 0) {\n  charts.push({\n    chartName: '환율',\n    chart: buildChart(\n      환율Data.map(i => i.json['DATE']),\n      [\n        {\n          label: '원/달러(종가 02:00)',\n          data: 환율Data.map(i => parseFloat(i.json['원/달러(종가 02:00)']) || null),\n          borderColor: '#1565C0',\n          backgroundColor: 'rgba(21,101,192,0.1)',\n          fill: false,\n          tension: 0.1\n        },\n        {\n          label: '원/달러(종가 15:30)',\n          data: 환율Data.map(i => parseFloat(i.json['원/달러(종가 15:30)']) || null),\n          borderColor: '#42A5F5',\n          backgroundColor: 'rgba(66,165,245,0.1)',\n          fill: false,\n          tension: 0.1\n        }\n      ],\n      'USD/KRW 환율'\n    )\n  });\n}\n\n// 유가 데이터가 있을 때만 추가\nif (유가Data.length > 0) {\n  charts.push({\n    chartName: '유가',\n    chart: buildChart(\n      유가Data.map(i => i.json['DATE']),\n      [\n        {\n          label: 'WTI유(NYMEX)',\n          data: 유가Data.map(i => parseFloat(i.json['WTI유(NYMEX)']) || null),\n          borderColor: '#E65100',\n          backgroundColor: 'rgba(230,81,0,0.1)',\n          fill: true,\n          tension: 0.1\n        }\n      ],\n      'WTI 유가'\n    )\n  });\n}\n\n// 국고채 데이터가 있을 때만 추가\nif (국고채Data.length > 0) {\n  charts.push({\n    chartName: '국고채',\n    chart: buildChart(\n      국고채Data.map(i => i.json['DATE']),\n      [\n        {\n          label: '국고채(3년)',\n          data: 국고채Data.map(i => parseFloat(i.json['국고채권(3년)']) || null),\n          borderColor: '#2E7D32',\n          fill: false,\n          tension: 0.1\n        },\n        {\n          label: '국고채(10년)',\n          data: 국고채Data.map(i => parseFloat(i.json['국고채권(10년)']) || null),\n          borderColor: '#FF8F00',\n          fill: false,\n          tension: 0.1\n        },\n      ],\n      '국고채 금리'\n    )\n  });\n}\n\nreturn charts.map(c => ({\n  json: {\n    chartName: c.chartName,\n    width: 800,\n    height: 400,\n    backgroundColor: 'white',\n    chart: c.chart  // ← JSON.stringify() 제거, 객체 그대로 전달\n  }\n}));\n"},"id":"n17","name":"Build QuickChart JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,0]},{"parameters":{"method":"POST","url":"https://quickchart.io/chart/create","sendBody":true,"bodyParameters":{"parameters":[{"name":"chart","value":"={{ $json.chart }}"},{"name":"width","value":"={{ $json.width }}"},{"name":"height","value":"={{ $json.height }}"},{"name":"backgroundColor","value":"={{ $json.backgroundColor }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"n18","name":"Send to QuickChart","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,0]},{"parameters":{"operation":"sendPhoto","chatId":"=@undergroundresearch36","file":"={{ $json.url }}","additionalFields":{}},"id":"n19","name":"Send Chart Photos","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3808,0],"webhookId":"890c0a74-7c94-490d-9b68-1928a34ec86d","credentials":{"telegramApi":{"id":"OhTzD6yy7QWhnLZ2","name":"밑바닥리서치 뉴스 자동화 브리핑 워크플로우"}}},{"parameters":{"documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"환율","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=0"},"options":{}},"id":"n12","name":"환율 Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2912,-160],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":604037688,"mode":"list","cachedResultName":"유가","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=604037688"},"options":{}},"id":"28d75a01-4031-4768-8150-4a120fdcedcd","name":"유가 Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2912,32],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2013300130,"mode":"list","cachedResultName":"국고채","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=2013300130"},"options":{}},"id":"74ebc57a-1487-47b8-b36b-1c0da7994685","name":"국고채 Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2912,224],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d837e764-2549-4e8c-b92e-c797cc150a94","leftValue":"={{ $json['DATE'] }}","rightValue":"={{ $now.minus({days: 60}).toFormat('yyyy-MM-dd') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[3136,0],"id":"214fe66e-a8b6-4849-9c2b-8ca5b1737bda","name":"기간 필터"},{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 17-20 * * 1-5"}]}},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[224,464],"id":"3960e4f9-651c-4962-9422-57bf4abf6908","name":"RSS Feed Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-exchange","leftValue":"={{ $json.title }}","rightValue":"[서환-마감]","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"cond-bond","leftValue":"={{ $json.title }}","rightValue":"[채권-마감]","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"cond-oil","leftValue":"={{ $json.title }}","rightValue":"[뉴욕유가]","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[448,560],"id":"afb7ad63-ed21-4d7b-b8e6-72e15d9ddd70","name":"Filter"},{"parameters":{"jsCode":"// 환율 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'exchange') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜: '입력 2026.04.03'\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nconst date = dateMatch ? dateMatch[1]+'-'+dateMatch[2]+'-'+dateMatch[3] : new Date().toISOString().slice(0,10);\n\n// 15:30 정규장 종가\nconst c15 = text.match(/오후 3시 30분 기준으로.+?([1-9],?\\d{3}\\.\\d+)원에 정규장/);\nconst usd_krw_1530 = c15 ? parseFloat(c15[1].replace(/,/g,'')) : null;\n\n// 시가 (전날 NDF)\nconst cOpen = text.match(/전날 대비.+?([1-9],?\\d{3}\\.\\d+)원에서 거래를 시작/);\nconst usd_krw_0200 = cOpen ? parseFloat(cOpen[1].replace(/,/g,'')) : null;\n\n// 뉴스 요약 (리드 문단)\nconst lead = text.match(/\\(서울=연합인포맥스\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[1].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  '원/달러(종가 15:30)': usd_krw_1530,\n  '원/달러(종가 02:00)': usd_krw_0200,\n  news_text: newsText,\n  category: 'exchange'\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,32],"id":"5c922a4e-0506-4df3-8402-0b1d9897d5e9","name":"Parse Exchange"},{"parameters":{"jsCode":"// 유가 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'oil') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜 (기사 날짜 - 1일: 뉴욕 마감은 전날 기준)\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nlet date;\nif (dateMatch) {\n  const d = new Date(`${dateMatch[1]}-${dateMatch[2]}-${dateMatch[3]}`);\n  d.setDate(d.getDate() - 1);\n  date = d.toISOString().slice(0, 10);\n} else {\n  const d = new Date();\n  d.setDate(d.getDate() - 1);\n  date = d.toISOString().slice(0, 10);\n}\n\n// WTI 종가: '배럴당 111.54달러에 마감'\nconst wtiMatch = text.match(/배럴당\\s*([\\d,]+\\.?\\d*)\\s*달러에 마감/);\nconst wti = wtiMatch ? parseFloat(wtiMatch[1].replace(/,/g,'')) : null;\n\n// 뉴스 요약\nconst lead = text.match(/\\((뉴욕|서울)=연합[^)]*\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[2].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  'WTI유(NYMEX)': wti,\n  news_text: newsText,\n  category: 'oil'\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,560],"id":"77e950be-59aa-466e-94af-cfa9f744d74b","name":"Parse Oil"},{"parameters":{"jsCode":"// 채권 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'bond') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nconst date = dateMatch ? dateMatch[1]+'-'+dateMatch[2]+'-'+dateMatch[3] : new Date().toISOString().slice(0,10);\n\n// 3년물\nconst b3 = text.match(/국고채 3년물 최종호가 수익률은[^%]*?(\\d+\\.\\d+)%/);\n// 10년물\nconst b10 = text.match(/국고채 10년물 금리는[^%]*?(\\d+\\.\\d+)%/);\n\n// 뉴스 요약\nconst lead = text.match(/\\(서울=연합인포맥스\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[1].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  '국고채권(3년)': b3 ? parseFloat(b3[1]) : null,\n  '국고채권(10년)': b10 ? parseFloat(b10[1]) : null,\n  news_text: newsText,\n  category: 'bond'\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,880],"id":"f64f37d6-6205-4210-9cae-c32dc4d72ec6","name":"Parse Bond"},{"parameters":{"jsCode":"// 기사 제목으로 category 부여 + URL 추출\nconst item = $input.first().json;\nconst title = item.title || '';\nconst link = item.link || item.url || item.guid || '';\n\nlet category = null;\nif (title.includes('[서환-마감]')) category = 'exchange';\nelse if (title.includes('[채권-마감]')) category = 'bond';\nelse if (title.includes('[뉴욕유가]')) category = 'oil';\n\nif (!category) return [];\n\nreturn [{ json: { ...item, category, articleUrl: link } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,560],"id":"1d17bd3c-5186-4be4-901e-26d62ad934a6","name":"키워드별 분류"},{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 4-9 * * 2-6"}]}},"id":"rss-s1n9-0001-0001-0001-000000000001","name":"RSS S1N9 (유가)","type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[224,656]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화"},"sheetName":{"__rl":true,"value":604037688,"mode":"list","cachedResultName":"유가"},"columns":{"mappingMode":"defineBelow","value":{"DATE":"={{ $json.DATE }}","WTI유(NYMEX)":"={{ $json['WTI유(NYMEX)'] }}","Comment":"={{ $json.choices[0].message.content }}","category":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WTI유(NYMEX)","displayName":"WTI유(NYMEX)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"append-oil-0001-0001-0001-000000000001","name":"Append Oil Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2464,592],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화"},"sheetName":{"__rl":true,"value":2013300130,"mode":"list","cachedResultName":"국고채"},"columns":{"mappingMode":"defineBelow","value":{"DATE":"={{ $json.DATE }}","국고채권(3년)":"={{ $json['국고채권(3년)'] }}","국고채권(10년)":"={{ $json['국고채권(10년)'] }}","Comment":"={{ $json.choices[0].message.content }}","category":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"국고채권(3년)","displayName":"국고채권(3년)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"국고채권(10년)","displayName":"국고채권(10년)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"append-bond-001-0001-0001-000000000001","name":"Append Bond Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2464,784],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge-node-001-0001-0001-000000000001","name":"Merge Chart+Comment","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4032,176]},{"parameters":{"url":"={{ $json.articleUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{}},"id":"http-article-nd-0001-0001-000000000001","name":"HTTP Request Article","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,640],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":"#article-view-content-div"}]},"options":{}},"id":"html-extract-nd-0001-0001-000000000001","name":"Extract Article HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1120,640]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge-article-nd-001-0001-000000000001","name":"Merge Article Data","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,560]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2240,32],"id":"8a3e3163-f861-4b8e-919e-130c92563580","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2240,592],"id":"e00be533-a683-488b-a250-25e3e8a6d07f","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2240,784],"id":"251cf479-c419-4cc9-adc4-785b8e48ddc6","name":"Merge2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.category }}","rightValue":"exchange","operator":{"type":"string","operation":"equals"},"id":"42ba8b6f-f42e-442a-85f8-055b87aee03e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Exchange"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"05bc58e3-2bae-4af0-9df3-59d7a83e1af4","leftValue":"={{ $json.category }}","rightValue":"oil","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Oil"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f0cb6597-a3c1-41e9-aa26-1bd1753b789c","leftValue":"={{ $json.category }}","rightValue":"bond","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bond"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2688,16],"id":"d5d6087c-5d21-466b-b960-f718cc41a497","name":"Switch"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"RSS S1N9 (유가)":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"키워드별 분류","type":"main","index":0}]]},"키워드별 분류":{"main":[[{"node":"HTTP Request Article","type":"main","index":0},{"node":"Merge Article Data","type":"main","index":0}]]},"Parse Exchange":{"main":[[{"node":"Build Comment Prompt","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Parse Oil":{"main":[[{"node":"Build Comment Prompt","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Parse Bond":{"main":[[{"node":"Build Comment Prompt","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Append Exchange Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"환율 Data":{"main":[[{"node":"기간 필터","type":"main","index":0}]]},"유가 Data":{"main":[[{"node":"기간 필터","type":"main","index":0}]]},"국고채 Data":{"main":[[{"node":"기간 필터","type":"main","index":0}]]},"기간 필터":{"main":[[{"node":"Build QuickChart JSON","type":"main","index":0}]]},"Build QuickChart JSON":{"main":[[{"node":"Send to QuickChart","type":"main","index":0}]]},"Send to QuickChart":{"main":[[{"node":"Send Chart Photos","type":"main","index":0}]]},"Send Chart Photos":{"main":[[{"node":"Merge Chart+Comment","type":"main","index":0}]]},"Build Comment Prompt":{"main":[[{"node":"Generate Comment","type":"main","index":0}]]},"Merge Chart+Comment":{"main":[[{"node":"Send Comment Text","type":"main","index":0}]]},"Send Comment Text":{"main":[[]]},"Append Oil Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Append Bond Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request Article":{"main":[[{"node":"Extract Article HTML","type":"main","index":0}]]},"Extract Article HTML":{"main":[[{"node":"Merge Article Data","type":"main","index":1}]]},"Merge Article Data":{"main":[[{"node":"Parse Exchange","type":"main","index":0},{"node":"Parse Oil","type":"main","index":0},{"node":"Parse Bond","type":"main","index":0}]]},"Generate Comment":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":0},{"node":"Merge2","type":"main","index":0},{"node":"Merge Chart+Comment","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Append Oil Sheet","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Append Bond Sheet","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append Exchange Sheet","type":"main","index":0}]]},"Switch":{"main":[[{"node":"환율 Data","type":"main","index":0}],[{"node":"유가 Data","type":"main","index":0}],[{"node":"국고채 Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Seoul","binaryMode":"separate"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2026-04-06T10:57:41.000Z"},"node:RSS S1N9 (유가)":{"lastItemDate":"2026-04-06T10:57:41.000Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9eac6587-cfb0-4a7f-a99f-fedd9f82bb96","activeVersionId":"9eac6587-cfb0-4a7f-a99f-fedd9f82bb96","versionCounter":406,"triggerCount":2,"shared":[{"updatedAt":"2026-04-04T16:57:10.635Z","createdAt":"2026-04-04T16:57:10.635Z","role":"workflow:owner","workflowId":"WW51yZ7oEmyp01kW","projectId":"B6oTH5ZqWMHh4Gyp","project":{"updatedAt":"2026-03-15T11:11:16.680Z","createdAt":"2026-03-15T11:09:35.937Z","id":"B6oTH5ZqWMHh4Gyp","name":"TaeHee Kim <rlaxogml324@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e7556dbf-c6f9-4597-80f7-988115231e21"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-07T02:52:26.225Z","createdAt":"2026-04-07T02:52:23.567Z","versionId":"9eac6587-cfb0-4a7f-a99f-fedd9f82bb96","workflowId":"WW51yZ7oEmyp01kW","nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"환율","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"원/달러(종가 15:30)":"={{ $json['원/달러(종가 15:30)'] }}","원/달러(종가 02:00)":"={{ $json['원/달러(종가 02:00)'] }}","DATE":"={{ $json.DATE }}","Comment":"={{ $json.choices[0].message.content }}","category":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"원/달러(종가 02:00)","displayName":"원/달러(종가 02:00)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"원/달러(종가 15:30)","displayName":"원/달러(종가 15:30)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"n11","name":"Append Exchange Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2464,32],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 환율/유가/채권 아이템 합산 -> GPT 프롬프트\nconst items = $input.all();\nlet exchangeData = {}, oilData = {}, bondData = {};\nconst newsList = [];\n\nfor (const it of items) {\n  const d = it.json;\n  if (d.category === 'exchange') exchangeData = d;\n  else if (d.category === 'oil') oilData = d;\n  else if (d.category === 'bond') bondData = d;\n  if (d.news_text) newsList.push(d.news_text);\n}\n\nconst today = exchangeData.DATE || oilData.DATE || bondData.DATE\n  || new Date().toISOString().slice(0,10);\n\nconst systemPrompt = '당신은 한국 금융시장 애널리스트입니다. 아래 경제지표와 뉴스를 바탕으로 시황 코멘트를 작성하세요.\\n\\n[작성 규칙]\\n- 핵심 주체(환율·유가·국채)를 앞에 제시하고 쉼표로 맥락 연결\\n- 배경·원인 → 핵심 내용 → 결과·의미·전망 순서로 서술\\n- 종가 수치, 변동폭, %p 등 구체적 숫자 반드시 포함\\n- 2~3문장, 각 문장 40자 내외, 이모지·출처 없이 한 단락 (줄바꿈 없음)\\n- 쉼표로 맥락을 연결하며 밀도 있게 작성\\n\\n[출력 형식] JSON 한 줄만 반환, 코드블록 없이\\n{\"title\": \"핵심 지표와 이슈를 담은 20자 내외 제목\", \"summary\": \"2~3문장 관련 코멘트\"}\\n\\n[출력 예시]\\n{\"title\": \"달러-원 환율 강보합\", \"summary\": \"달러-원 환율이 1,506.3원으로 전장 대비 1.10원 상승, 미국과 이란의 군사 긴장이 환율 강세 요인으로 작용. 지난 장에서 1,510.30원으로 시작했으나 최저 1,503.50원까지 하락하며 1,505원 부근에서 등락을 반복. 앞으로의 이란의 상황에 따라 불확실성이 지속될 전망.\"}';\n\nconst usdKrw = exchangeData['원/달러(종가 15:30)'];\nconst wti = oilData['WTI유(NYMEX)'];\nconst b3 = bondData['국고채권(3년)'];\nconst b10 = bondData['국고채권(10년)'];\n\nconst userMsg = [\n  '오늘 날짜: ' + today,\n  '달러-원 환율(15:30): ' + (usdKrw != null ? usdKrw + '원' : 'N/A'),\n  'WTI 유가: $' + (wti != null ? wti : 'N/A'),\n  '국채 3년: ' + (b3 != null ? b3 + '%' : 'N/A'),\n  '국채 10년: ' + (b10 != null ? b10 + '%' : 'N/A'),\n  '',\n  '관련 뉴스:',\n  newsList.join('\\n\\n') || '뉴스 없음'\n].join('\\n');\n\nconst requestBody = JSON.stringify({\n  model: 'gpt-4o-mini',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userMsg }\n  ],\n  max_tokens: 600\n});\n\nreturn [{ json: { today, usdKrw, wti, b3, b10, requestBody } }];"},"id":"n14","name":"Build Comment Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1792,416]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.requestBody }}","options":{}},"id":"n15","name":"Generate Comment","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,416],"credentials":{"openAiApi":{"id":"UoYETyZhfRGH368H","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"=@undergroundresearch36","text":"={{ (() => { try { const raw = $json.choices && $json.choices[0] ? $json.choices[0].message.content : null; if (!raw) return '시황 코멘트를 생성하지 못했습니다.'; const r = JSON.parse(raw); return r.title + '\\n\\n' + r.summary; } catch(e) { return $json.choices[0].message.content; } })() }}","additionalFields":{"appendAttribution":false}},"id":"n16","name":"Send Comment Text","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4256,176],"webhookId":"b8005ef2-3b26-4dd6-82d8-4a605a75d57e","credentials":{"telegramApi":{"id":"OhTzD6yy7QWhnLZ2","name":"밑바닥리서치 뉴스 자동화 브리핑 워크플로우"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\n// 데이터 분류 및 날짜 오름차순 정렬\nconst 환율Data = items\n  .filter(i => i.json['원/달러(종가 15:30)'] !== undefined)\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nconst 유가Data = items\n  .filter(i => i.json['WTI유(NYMEX)'] !== undefined)\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nconst 국고채Data = items\n  .filter(i => i.json['국고채권(3년)'] !== undefined)\n  .sort((a, b) => new Date(a.json['DATE']) - new Date(b.json['DATE']));\n\nfunction buildChart(labels, datasets, title) {\n  return {\n    type: 'line',\n    data: { labels, datasets },\n    options: {\n      title: { display: true, text: title, fontSize: 16 },\n      legend: { display: true },\n      scales: {\n        xAxes: [{ ticks: { maxTicksLimit: 10, maxRotation: 45 } }]\n      }\n    }\n  };\n}\n\nconst charts = [];\n\n// 환율 데이터가 있을 때만 추가\nif (환율Data.length > 0) {\n  charts.push({\n    chartName: '환율',\n    chart: buildChart(\n      환율Data.map(i => i.json['DATE']),\n      [\n        {\n          label: '원/달러(종가 02:00)',\n          data: 환율Data.map(i => parseFloat(i.json['원/달러(종가 02:00)']) || null),\n          borderColor: '#1565C0',\n          backgroundColor: 'rgba(21,101,192,0.1)',\n          fill: false,\n          tension: 0.1\n        },\n        {\n          label: '원/달러(종가 15:30)',\n          data: 환율Data.map(i => parseFloat(i.json['원/달러(종가 15:30)']) || null),\n          borderColor: '#42A5F5',\n          backgroundColor: 'rgba(66,165,245,0.1)',\n          fill: false,\n          tension: 0.1\n        }\n      ],\n      'USD/KRW 환율'\n    )\n  });\n}\n\n// 유가 데이터가 있을 때만 추가\nif (유가Data.length > 0) {\n  charts.push({\n    chartName: '유가',\n    chart: buildChart(\n      유가Data.map(i => i.json['DATE']),\n      [\n        {\n          label: 'WTI유(NYMEX)',\n          data: 유가Data.map(i => parseFloat(i.json['WTI유(NYMEX)']) || null),\n          borderColor: '#E65100',\n          backgroundColor: 'rgba(230,81,0,0.1)',\n          fill: true,\n          tension: 0.1\n        }\n      ],\n      'WTI 유가'\n    )\n  });\n}\n\n// 국고채 데이터가 있을 때만 추가\nif (국고채Data.length > 0) {\n  charts.push({\n    chartName: '국고채',\n    chart: buildChart(\n      국고채Data.map(i => i.json['DATE']),\n      [\n        {\n          label: '국고채(3년)',\n          data: 국고채Data.map(i => parseFloat(i.json['국고채권(3년)']) || null),\n          borderColor: '#2E7D32',\n          fill: false,\n          tension: 0.1\n        },\n        {\n          label: '국고채(10년)',\n          data: 국고채Data.map(i => parseFloat(i.json['국고채권(10년)']) || null),\n          borderColor: '#FF8F00',\n          fill: false,\n          tension: 0.1\n        },\n      ],\n      '국고채 금리'\n    )\n  });\n}\n\nreturn charts.map(c => ({\n  json: {\n    chartName: c.chartName,\n    width: 800,\n    height: 400,\n    backgroundColor: 'white',\n    chart: c.chart  // ← JSON.stringify() 제거, 객체 그대로 전달\n  }\n}));\n"},"id":"n17","name":"Build QuickChart JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[3360,0]},{"parameters":{"method":"POST","url":"https://quickchart.io/chart/create","sendBody":true,"bodyParameters":{"parameters":[{"name":"chart","value":"={{ $json.chart }}"},{"name":"width","value":"={{ $json.width }}"},{"name":"height","value":"={{ $json.height }}"},{"name":"backgroundColor","value":"={{ $json.backgroundColor }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"n18","name":"Send to QuickChart","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3584,0]},{"parameters":{"operation":"sendPhoto","chatId":"=@undergroundresearch36","file":"={{ $json.url }}","additionalFields":{}},"id":"n19","name":"Send Chart Photos","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3808,0],"webhookId":"890c0a74-7c94-490d-9b68-1928a34ec86d","credentials":{"telegramApi":{"id":"OhTzD6yy7QWhnLZ2","name":"밑바닥리서치 뉴스 자동화 브리핑 워크플로우"}}},{"parameters":{"documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"환율","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=0"},"options":{}},"id":"n12","name":"환율 Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2912,-160],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":604037688,"mode":"list","cachedResultName":"유가","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=604037688"},"options":{}},"id":"28d75a01-4031-4768-8150-4a120fdcedcd","name":"유가 Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2912,32],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2013300130,"mode":"list","cachedResultName":"국고채","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE/edit#gid=2013300130"},"options":{}},"id":"74ebc57a-1487-47b8-b36b-1c0da7994685","name":"국고채 Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2912,224],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d837e764-2549-4e8c-b92e-c797cc150a94","leftValue":"={{ $json['DATE'] }}","rightValue":"={{ $now.minus({days: 60}).toFormat('yyyy-MM-dd') }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[3136,0],"id":"214fe66e-a8b6-4849-9c2b-8ca5b1737bda","name":"기간 필터"},{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 17-20 * * 1-5"}]}},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[224,464],"id":"3960e4f9-651c-4962-9422-57bf4abf6908","name":"RSS Feed Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-exchange","leftValue":"={{ $json.title }}","rightValue":"[서환-마감]","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"cond-bond","leftValue":"={{ $json.title }}","rightValue":"[채권-마감]","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}},{"id":"cond-oil","leftValue":"={{ $json.title }}","rightValue":"[뉴욕유가]","operator":{"type":"string","operation":"contains","name":"filter.operator.contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[448,560],"id":"afb7ad63-ed21-4d7b-b8e6-72e15d9ddd70","name":"Filter"},{"parameters":{"jsCode":"// 환율 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'exchange') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜: '입력 2026.04.03'\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nconst date = dateMatch ? dateMatch[1]+'-'+dateMatch[2]+'-'+dateMatch[3] : new Date().toISOString().slice(0,10);\n\n// 15:30 정규장 종가\nconst c15 = text.match(/오후 3시 30분 기준으로.+?([1-9],?\\d{3}\\.\\d+)원에 정규장/);\nconst usd_krw_1530 = c15 ? parseFloat(c15[1].replace(/,/g,'')) : null;\n\n// 시가 (전날 NDF)\nconst cOpen = text.match(/전날 대비.+?([1-9],?\\d{3}\\.\\d+)원에서 거래를 시작/);\nconst usd_krw_0200 = cOpen ? parseFloat(cOpen[1].replace(/,/g,'')) : null;\n\n// 뉴스 요약 (리드 문단)\nconst lead = text.match(/\\(서울=연합인포맥스\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[1].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  '원/달러(종가 15:30)': usd_krw_1530,\n  '원/달러(종가 02:00)': usd_krw_0200,\n  news_text: newsText,\n  category: 'exchange'\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,32],"id":"5c922a4e-0506-4df3-8402-0b1d9897d5e9","name":"Parse Exchange"},{"parameters":{"jsCode":"// 유가 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'oil') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜 (기사 날짜 - 1일: 뉴욕 마감은 전날 기준)\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nlet date;\nif (dateMatch) {\n  const d = new Date(`${dateMatch[1]}-${dateMatch[2]}-${dateMatch[3]}`);\n  d.setDate(d.getDate() - 1);\n  date = d.toISOString().slice(0, 10);\n} else {\n  const d = new Date();\n  d.setDate(d.getDate() - 1);\n  date = d.toISOString().slice(0, 10);\n}\n\n// WTI 종가: '배럴당 111.54달러에 마감'\nconst wtiMatch = text.match(/배럴당\\s*([\\d,]+\\.?\\d*)\\s*달러에 마감/);\nconst wti = wtiMatch ? parseFloat(wtiMatch[1].replace(/,/g,'')) : null;\n\n// 뉴스 요약\nconst lead = text.match(/\\((뉴욕|서울)=연합[^)]*\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[2].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  'WTI유(NYMEX)': wti,\n  news_text: newsText,\n  category: 'oil'\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,560],"id":"77e950be-59aa-466e-94af-cfa9f744d74b","name":"Parse Oil"},{"parameters":{"jsCode":"// 채권 기사 파서\nconst item = $input.first().json;\nif (item.category !== 'bond') return [];\n\nconst text = (item.content || '').replace(/\\s+/g, ' ');\n\n// 날짜\nconst dateMatch = text.match(/입력 (\\d{4})\\.(\\d{2})\\.(\\d{2})/);\nconst date = dateMatch ? dateMatch[1]+'-'+dateMatch[2]+'-'+dateMatch[3] : new Date().toISOString().slice(0,10);\n\n// 3년물\nconst b3 = text.match(/국고채 3년물 최종호가 수익률은[^%]*?(\\d+\\.\\d+)%/);\n// 10년물\nconst b10 = text.match(/국고채 10년물 금리는[^%]*?(\\d+\\.\\d+)%/);\n\n// 뉴스 요약\nconst lead = text.match(/\\(서울=연합인포맥스\\)[^=]+= (.{20,300})\\./);\nconst newsText = lead ? lead[1].trim() : '';\n\nreturn [{ json: {\n  DATE: date,\n  '국고채권(3년)': b3 ? parseFloat(b3[1]) : null,\n  '국고채권(10년)': b10 ? parseFloat(b10[1]) : null,\n  news_text: newsText,\n  category: 'bond'\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,880],"id":"f64f37d6-6205-4210-9cae-c32dc4d72ec6","name":"Parse Bond"},{"parameters":{"jsCode":"// 기사 제목으로 category 부여 + URL 추출\nconst item = $input.first().json;\nconst title = item.title || '';\nconst link = item.link || item.url || item.guid || '';\n\nlet category = null;\nif (title.includes('[서환-마감]')) category = 'exchange';\nelse if (title.includes('[채권-마감]')) category = 'bond';\nelse if (title.includes('[뉴욕유가]')) category = 'oil';\n\nif (!category) return [];\n\nreturn [{ json: { ...item, category, articleUrl: link } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[672,560],"id":"1d17bd3c-5186-4be4-901e-26d62ad934a6","name":"키워드별 분류"},{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"0 */5 4-9 * * 2-6"}]}},"id":"rss-s1n9-0001-0001-0001-000000000001","name":"RSS S1N9 (유가)","type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[224,656]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화"},"sheetName":{"__rl":true,"value":604037688,"mode":"list","cachedResultName":"유가"},"columns":{"mappingMode":"defineBelow","value":{"DATE":"={{ $json.DATE }}","WTI유(NYMEX)":"={{ $json['WTI유(NYMEX)'] }}","Comment":"={{ $json.choices[0].message.content }}","category":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WTI유(NYMEX)","displayName":"WTI유(NYMEX)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"append-oil-0001-0001-0001-000000000001","name":"Append Oil Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2464,592],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1VTj2zw9vIbRkh5U9aLvGu-lmXWAaEcKw79dCqRf0lkE","mode":"list","cachedResultName":"경제지표 차트 자동화"},"sheetName":{"__rl":true,"value":2013300130,"mode":"list","cachedResultName":"국고채"},"columns":{"mappingMode":"defineBelow","value":{"DATE":"={{ $json.DATE }}","국고채권(3년)":"={{ $json['국고채권(3년)'] }}","국고채권(10년)":"={{ $json['국고채권(10년)'] }}","Comment":"={{ $json.choices[0].message.content }}","category":"={{ $json.category }}"},"matchingColumns":[],"schema":[{"id":"DATE","displayName":"DATE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"국고채권(3년)","displayName":"국고채권(3년)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"국고채권(10년)","displayName":"국고채권(10년)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Comment","displayName":"Comment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"append-bond-001-0001-0001-000000000001","name":"Append Bond Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2464,784],"credentials":{"googleSheetsOAuth2Api":{"id":"vwa1sjnJPULfEh40","name":"Google Sheets account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge-node-001-0001-0001-000000000001","name":"Merge Chart+Comment","type":"n8n-nodes-base.merge","typeVersion":3,"position":[4032,176]},{"parameters":{"url":"={{ $json.articleUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"}]},"options":{}},"id":"http-article-nd-0001-0001-000000000001","name":"HTTP Request Article","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,640],"onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":"#article-view-content-div"}]},"options":{}},"id":"html-extract-nd-0001-0001-000000000001","name":"Extract Article HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1120,640]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"merge-article-nd-001-0001-000000000001","name":"Merge Article Data","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,560]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2240,32],"id":"8a3e3163-f861-4b8e-919e-130c92563580","name":"Merge"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2240,592],"id":"e00be533-a683-488b-a250-25e3e8a6d07f","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2240,784],"id":"251cf479-c419-4cc9-adc4-785b8e48ddc6","name":"Merge2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.category }}","rightValue":"exchange","operator":{"type":"string","operation":"equals"},"id":"42ba8b6f-f42e-442a-85f8-055b87aee03e"}],"combinator":"and"},"renameOutput":true,"outputKey":"Exchange"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"05bc58e3-2bae-4af0-9df3-59d7a83e1af4","leftValue":"={{ $json.category }}","rightValue":"oil","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Oil"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f0cb6597-a3c1-41e9-aa26-1bd1753b789c","leftValue":"={{ $json.category }}","rightValue":"bond","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bond"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2688,16],"id":"d5d6087c-5d21-466b-b960-f718cc41a497","name":"Switch"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"RSS S1N9 (유가)":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"키워드별 분류","type":"main","index":0}]]},"키워드별 분류":{"main":[[{"node":"HTTP Request Article","type":"main","index":0},{"node":"Merge Article Data","type":"main","index":0}]]},"Parse Exchange":{"main":[[{"node":"Build Comment Prompt","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Parse Oil":{"main":[[{"node":"Build Comment Prompt","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Parse Bond":{"main":[[{"node":"Build Comment Prompt","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"Append Exchange Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"환율 Data":{"main":[[{"node":"기간 필터","type":"main","index":0}]]},"유가 Data":{"main":[[{"node":"기간 필터","type":"main","index":0}]]},"국고채 Data":{"main":[[{"node":"기간 필터","type":"main","index":0}]]},"기간 필터":{"main":[[{"node":"Build QuickChart JSON","type":"main","index":0}]]},"Build QuickChart JSON":{"main":[[{"node":"Send to QuickChart","type":"main","index":0}]]},"Send to QuickChart":{"main":[[{"node":"Send Chart Photos","type":"main","index":0}]]},"Send Chart Photos":{"main":[[{"node":"Merge Chart+Comment","type":"main","index":0}]]},"Build Comment Prompt":{"main":[[{"node":"Generate Comment","type":"main","index":0}]]},"Merge Chart+Comment":{"main":[[{"node":"Send Comment Text","type":"main","index":0}]]},"Send Comment Text":{"main":[[]]},"Append Oil Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Append Bond Sheet":{"main":[[{"node":"Switch","type":"main","index":0}]]},"HTTP Request Article":{"main":[[{"node":"Extract Article HTML","type":"main","index":0}]]},"Extract Article HTML":{"main":[[{"node":"Merge Article Data","type":"main","index":1}]]},"Merge Article Data":{"main":[[{"node":"Parse Exchange","type":"main","index":0},{"node":"Parse Oil","type":"main","index":0},{"node":"Parse Bond","type":"main","index":0}]]},"Generate Comment":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":0},{"node":"Merge2","type":"main","index":0},{"node":"Merge Chart+Comment","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Append Oil Sheet","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Append Bond Sheet","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Append Exchange Sheet","type":"main","index":0}]]},"Switch":{"main":[[{"node":"환율 Data","type":"main","index":0}],[{"node":"유가 Data","type":"main","index":0}],[{"node":"국고채 Data","type":"main","index":0}]]}},"authors":"TaeHee Kim","name":"Version 9eac6587","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-07T02:52:26.220Z","id":88,"workflowId":"WW51yZ7oEmyp01kW","versionId":"9eac6587-cfb0-4a7f-a99f-fedd9f82bb96","event":"activated","userId":"e7556dbf-c6f9-4597-80f7-988115231e21"}]}}