projects/telegram-to-obsidian/workflows/telegram-to-obsidian.json
{
  "updatedAt": "2026-03-26T12:50:32.088Z",
  "createdAt": "2026-03-25T23:25:39.304Z",
  "id": "a5RvxdkYFp9VLw5A",
  "name": "Telegram to Obsidian",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "n01",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        496
      ],
      "webhookId": "05183659-4aad-4404-8386-fc8c4802734d",
      "credentials": {
        "telegramApi": {
          "id": "Qs1DF1cjV1W8i6Za",
          "name": "Telegram to Obsidian"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message;\nif (!msg) return [{ json: { error: 'no message' } }];\n\nlet msgType = 'text';\nlet fileId = null;\nlet fileUniqueId = null;\nlet fileName = null;\nlet videoDuration = null;\n\nif (msg.photo && msg.photo.length > 0) {\n  msgType = 'photo';\n  const best = msg.photo[msg.photo.length - 1];\n  fileId = best.file_id;\n  fileUniqueId = best.file_unique_id;\n  fileName = fileUniqueId + '.jpg';\n} else if (msg.video) {\n  msgType = 'video';\n  videoDuration = msg.video.duration || 0;\n  if (msg.video.thumb && msg.video.thumb.file_id) {\n    fileId = msg.video.thumb.file_id;\n    fileUniqueId = msg.video.thumb.file_unique_id;\n    fileName = fileUniqueId + '_thumb.jpg';\n  }\n} else if (msg.document) {\n  msgType = 'document';\n  fileId = msg.document.file_id;\n  fileUniqueId = msg.document.file_unique_id;\n  fileName = msg.document.file_name || (fileUniqueId + '.bin');\n}\n\nconst text = msg.text || msg.caption || '';\nconst chatId = String(msg.chat.id);\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst dateStr = kst.toISOString().slice(0, 10);\nconst dateTimeStr = kst.toISOString().replace('Z', '+09:00');\n\nreturn [{\n  json: {\n    msg_type: msgType,\n    file_id: fileId,\n    file_name: fileName,\n    has_attachment: fileId !== null,\n    video_duration: videoDuration,\n    text: text,\n    chat_id: chatId,\n    date_str: dateStr,\n    date_time_str: dateTimeStr\n  }\n}];\n"
      },
      "id": "n02",
      "name": "Prepare Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c02",
              "leftValue": "={{ $json.has_attachment }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n05",
      "name": "Check Attachment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        448,
        496
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8690935139:AAGV_Bhildl6AVag91HkAizBtlXJYFTs3bw/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.file_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n06",
      "name": "Get File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8690935139:AAGV_Bhildl6AVag91HkAizBtlXJYFTs3bw/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n07",
      "name": "Download File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/%EC%98%B5%EC%8B%9C%EB%94%94%EC%96%B8/Startegy_Investment/{{ $('Prepare Message').item.json.onedrive_att_path || ('Telegram/attachments/' + $('Prepare Message').item.json.file_name) }}:/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "n08",
      "name": "Upload Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        320
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "vDMXfiLw3K2FBkrH",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// OpenAI 응답에서 title/tags 파싱\nlet title = '메모';\nlet tags = ['telegram'];\n\ntry {\n  const content = item?.choices?.[0]?.message?.content || '';\n  const parsed = JSON.parse(content);\n  if (parsed.title) {\n    title = parsed.title.replace(/[\\\\/:*?\"<>|]/g, '').replace(/\\s+/g, '_').slice(0, 40);\n  }\n  if (Array.isArray(parsed.tags)) tags = parsed.tags;\n} catch(e) {}\n\n// Prepare Message 데이터 가져오기\nconst prep = $('Prepare Message').first().json;\n\n// YAML frontmatter\nconst tagsYaml = tags.map(t => '  - ' + t).join('\\n');\nlet md = '---\\n';\nmd += 'date: ' + (prep.date_time_str || '') + '\\n';\nmd += 'source: telegram\\n';\nmd += 'type: ' + (prep.msg_type || 'text') + '\\n';\nif (prep.from_name) md += 'from: \"' + prep.from_name + '\"\\n';\nmd += 'tags:\\n' + tagsYaml + '\\n';\nmd += '---\\n\\n';\n\n// 본문\nconst msgType = prep.msg_type || 'text';\nif (msgType === 'photo') { md += '![[Telegram/attachments/' + prep.file_name + ']]\\n\\n';\n  if (prep.text) md += prep.text + '\\n';\n} else if (msgType === 'video') {\n  if (prep.file_name) md += '![[Telegram/attachments/' + prep.file_name + ']]\\n\\n';\n  md += '🎬 영상 길이: ' + (prep.video_duration || 0) + '초\\n\\n';\n  if (prep.text) md += prep.text + '\\n';\n} else if (msgType === 'document') {\n  md += '[[Telegram/attachments/' + prep.file_name + '|' + prep.file_name + ']]\\n\\n';\n  if (prep.text) md += prep.text + '\\n';\n} else {\n  md += prep.text || '';\n}\n\n// 파일명 / OneDrive 경로\nconst dateStr = prep.date_str || new Date().toISOString().slice(0, 10);\nconst fileNameMd = dateStr + '_' + title.replace(/_/g, ' ') + '.md';\n\nreturn [{\n  json: {\n    md_content: md,\n    file_name_md: fileNameMd,\n    onedrive_md_path: 'Telegram/' + dateStr + '/' + fileNameMd,\n    chat_id: prep.chat_id,\n    date_str: dateStr,\n    date_time_str: prep.date_time_str\n  }\n}];\n"
      },
      "id": "n14",
      "name": "Build MD Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        560
      ],
      "notes": "최종 .md 파일 내용을 조립하는 코드 노드입니다.\n\nYAML frontmatter 생성 (date, source, type, from, tags)\n메시지 타입별 본문 포맷 구성\n첨부파일: ![[attachments/파일명]] 링크 추가\nURL 미리보기 섹션 추가 (있을 경우)"
    },
    {
      "parameters": {
        "chatId": "=7393844031",
        "text": "=저장 완료\n{{ $json.name.replace(/_/g, ' ').replace(/\\.md$/, '')}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "n16",
      "name": "Send Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        560
      ],
      "webhookId": "a2d6c7bb-a7da-4d7f-8ff7-549c0e009466",
      "credentials": {
        "telegramApi": {
          "id": "Qs1DF1cjV1W8i6Za",
          "name": "Telegram to Obsidian"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        560
      ],
      "id": "e2c8363a-27d0-4882-8d46-08f91c11d69a",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "### 파일 다운로드",
        "height": 208,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        272
      ],
      "typeVersion": 1,
      "id": "bcdcddcf-77c9-4d38-b22b-8af28d782432",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const text = ($('Prepare Message').first().json.text || '').slice(0, 800);\n\nconst body = {\n  model: 'gpt-4o-mini',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 텔레그램 메시지를 분석해 옵시디언 노트의 제목과 태그를 생성하는 어시스턴트입니다.\\n\\n규칙:\\n- 제목: 메시지 핵심 내용을 담은 명사구, 한국어, 40자 이내, 특수문자 제외\\n- 태그: 핵심 키워드 2~5개, 한국어 허용, 소문자, 공백 없이'\n    },\n    {\n      role: 'user',\n      content: '다음 텔레그램 메시지의 제목과 태그를 생성해줘.\\n\\n메시지:\\n' + text\n    }\n  ],\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'note_metadata',\n      strict: true,\n      schema: {\n        type: 'object',\n        properties: {\n          title: { type: 'string' },\n          tags: { type: 'array', items: { type: 'string' } }\n        },\n        required: ['title', 'tags'],\n        additionalProperties: false\n      }\n    }\n  },\n  max_tokens: 200\n};\n\nreturn [{ json: { openai_body: JSON.stringify(body) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        640
      ],
      "id": "02b9f60b-667b-4486-bbd5-834a3e73cd0a",
      "name": "generate body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "=\t{{ $json.openai_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        640
      ],
      "id": "322ff176-f514-4d5a-b37e-a5d4c421f3f2",
      "name": "Generate tag and title",
      "credentials": {
        "openAiApi": {
          "id": "UoYETyZhfRGH368H",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/옵시디언/Startegy_Investment/Telegram/{{ $('Build MD Content').first().json.date_str }}/{{ $('Build MD Content').first().json.file_name_md }}:/content\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain; charset=utf-8",
        "body": "={{ $('Build MD Content').first().json.md_content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        560
      ],
      "id": "0ba25e8f-69dc-42f1-bbba-2ce59d874f40",
      "name": "uproad to drive",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "vDMXfiLw3K2FBkrH",
          "name": "Microsoft Drive account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Prepare Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Message": {
      "main": [
        [
          {
            "node": "Check Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Attachment": {
      "main": [
        [
          {
            "node": "Get File Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "generate body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "generate body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Attachment": {
      "main": [
        []
      ]
    },
    "Build MD Content": {
      "main": [
        [
          {
            "node": "uproad to drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build MD Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate body": {
      "main": [
        [
          {
            "node": "Generate tag and title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate tag and title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uproad to drive": {
      "main": [
        [
          {
            "node": "Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7af51231-74bc-4378-8130-d381f09e3c70",
  "activeVersionId": "7af51231-74bc-4378-8130-d381f09e3c70",
  "versionCounter": 271,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-25T23:25:39.304Z",
      "createdAt": "2026-03-25T23:25:39.304Z",
      "role": "workflow:owner",
      "workflowId": "a5RvxdkYFp9VLw5A",
      "projectId": "B6oTH5ZqWMHh4Gyp",
      "project": {
        "updatedAt": "2026-03-15T11:11:16.680Z",
        "createdAt": "2026-03-15T11:09:35.937Z",
        "id": "B6oTH5ZqWMHh4Gyp",
        "name": "TaeHee Kim <rlaxogml324@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e7556dbf-c6f9-4597-80f7-988115231e21"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-26T12:50:52.103Z",
    "createdAt": "2026-03-26T12:50:32.092Z",
    "versionId": "7af51231-74bc-4378-8130-d381f09e3c70",
    "workflowId": "a5RvxdkYFp9VLw5A",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "id": "n01",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          496
        ],
        "webhookId": "05183659-4aad-4404-8386-fc8c4802734d",
        "credentials": {
          "telegramApi": {
            "id": "Qs1DF1cjV1W8i6Za",
            "name": "Telegram to Obsidian"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const msg = $json.message;\nif (!msg) return [{ json: { error: 'no message' } }];\n\nlet msgType = 'text';\nlet fileId = null;\nlet fileUniqueId = null;\nlet fileName = null;\nlet videoDuration = null;\n\nif (msg.photo && msg.photo.length > 0) {\n  msgType = 'photo';\n  const best = msg.photo[msg.photo.length - 1];\n  fileId = best.file_id;\n  fileUniqueId = best.file_unique_id;\n  fileName = fileUniqueId + '.jpg';\n} else if (msg.video) {\n  msgType = 'video';\n  videoDuration = msg.video.duration || 0;\n  if (msg.video.thumb && msg.video.thumb.file_id) {\n    fileId = msg.video.thumb.file_id;\n    fileUniqueId = msg.video.thumb.file_unique_id;\n    fileName = fileUniqueId + '_thumb.jpg';\n  }\n} else if (msg.document) {\n  msgType = 'document';\n  fileId = msg.document.file_id;\n  fileUniqueId = msg.document.file_unique_id;\n  fileName = msg.document.file_name || (fileUniqueId + '.bin');\n}\n\nconst text = msg.text || msg.caption || '';\nconst chatId = String(msg.chat.id);\n\nconst now = new Date();\nconst kst = new Date(now.getTime() + 9 * 60 * 60 * 1000);\nconst dateStr = kst.toISOString().slice(0, 10);\nconst dateTimeStr = kst.toISOString().replace('Z', '+09:00');\n\nreturn [{\n  json: {\n    msg_type: msgType,\n    file_id: fileId,\n    file_name: fileName,\n    has_attachment: fileId !== null,\n    video_duration: videoDuration,\n    text: text,\n    chat_id: chatId,\n    date_str: dateStr,\n    date_time_str: dateTimeStr\n  }\n}];\n"
        },
        "id": "n02",
        "name": "Prepare Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          496
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "c02",
                "leftValue": "={{ $json.has_attachment }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "n05",
        "name": "Check Attachment",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          448,
          496
        ]
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot8690935139:AAGV_Bhildl6AVag91HkAizBtlXJYFTs3bw/getFile",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "file_id",
                "value": "={{ $json.file_id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "n06",
        "name": "Get File Info",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          320
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot8690935139:AAGV_Bhildl6AVag91HkAizBtlXJYFTs3bw/{{ $json.result.file_path }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "n07",
        "name": "Download File",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          896,
          320
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/%EC%98%B5%EC%8B%9C%EB%94%94%EC%96%B8/Startegy_Investment/{{ $('Prepare Message').item.json.onedrive_att_path || ('Telegram/attachments/' + $('Prepare Message').item.json.file_name) }}:/content",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/octet-stream"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "n08",
        "name": "Upload Attachment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          320
        ],
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "vDMXfiLw3K2FBkrH",
            "name": "Microsoft Drive account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\n// OpenAI 응답에서 title/tags 파싱\nlet title = '메모';\nlet tags = ['telegram'];\n\ntry {\n  const content = item?.choices?.[0]?.message?.content || '';\n  const parsed = JSON.parse(content);\n  if (parsed.title) {\n    title = parsed.title.replace(/[\\\\/:*?\"<>|]/g, '').replace(/\\s+/g, '_').slice(0, 40);\n  }\n  if (Array.isArray(parsed.tags)) tags = parsed.tags;\n} catch(e) {}\n\n// Prepare Message 데이터 가져오기\nconst prep = $('Prepare Message').first().json;\n\n// YAML frontmatter\nconst tagsYaml = tags.map(t => '  - ' + t).join('\\n');\nlet md = '---\\n';\nmd += 'date: ' + (prep.date_time_str || '') + '\\n';\nmd += 'source: telegram\\n';\nmd += 'type: ' + (prep.msg_type || 'text') + '\\n';\nif (prep.from_name) md += 'from: \"' + prep.from_name + '\"\\n';\nmd += 'tags:\\n' + tagsYaml + '\\n';\nmd += '---\\n\\n';\n\n// 본문\nconst msgType = prep.msg_type || 'text';\nif (msgType === 'photo') { md += '![[Telegram/attachments/' + prep.file_name + ']]\\n\\n';\n  if (prep.text) md += prep.text + '\\n';\n} else if (msgType === 'video') {\n  if (prep.file_name) md += '![[Telegram/attachments/' + prep.file_name + ']]\\n\\n';\n  md += '🎬 영상 길이: ' + (prep.video_duration || 0) + '초\\n\\n';\n  if (prep.text) md += prep.text + '\\n';\n} else if (msgType === 'document') {\n  md += '[[Telegram/attachments/' + prep.file_name + '|' + prep.file_name + ']]\\n\\n';\n  if (prep.text) md += prep.text + '\\n';\n} else {\n  md += prep.text || '';\n}\n\n// 파일명 / OneDrive 경로\nconst dateStr = prep.date_str || new Date().toISOString().slice(0, 10);\nconst fileNameMd = dateStr + '_' + title.replace(/_/g, ' ') + '.md';\n\nreturn [{\n  json: {\n    md_content: md,\n    file_name_md: fileNameMd,\n    onedrive_md_path: 'Telegram/' + dateStr + '/' + fileNameMd,\n    chat_id: prep.chat_id,\n    date_str: dateStr,\n    date_time_str: prep.date_time_str\n  }\n}];\n"
        },
        "id": "n14",
        "name": "Build MD Content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          560
        ],
        "notes": "최종 .md 파일 내용을 조립하는 코드 노드입니다.\n\nYAML frontmatter 생성 (date, source, type, from, tags)\n메시지 타입별 본문 포맷 구성\n첨부파일: ![[attachments/파일명]] 링크 추가\nURL 미리보기 섹션 추가 (있을 경우)"
      },
      {
        "parameters": {
          "chatId": "=7393844031",
          "text": "=저장 완료\n{{ $json.name.replace(/_/g, ' ').replace(/\\.md$/, '')}}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "HTML"
          }
        },
        "id": "n16",
        "name": "Send Success",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1792,
          560
        ],
        "webhookId": "a2d6c7bb-a7da-4d7f-8ff7-549c0e009466",
        "credentials": {
          "telegramApi": {
            "id": "Qs1DF1cjV1W8i6Za",
            "name": "Telegram to Obsidian"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1120,
          560
        ],
        "id": "e2c8363a-27d0-4882-8d46-08f91c11d69a",
        "name": "Merge"
      },
      {
        "parameters": {
          "content": "### 파일 다운로드",
          "height": 208,
          "width": 752
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          608,
          272
        ],
        "typeVersion": 1,
        "id": "bcdcddcf-77c9-4d38-b22b-8af28d782432",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "const text = ($('Prepare Message').first().json.text || '').slice(0, 800);\n\nconst body = {\n  model: 'gpt-4o-mini',\n  messages: [\n    {\n      role: 'system',\n      content: '당신은 텔레그램 메시지를 분석해 옵시디언 노트의 제목과 태그를 생성하는 어시스턴트입니다.\\n\\n규칙:\\n- 제목: 메시지 핵심 내용을 담은 명사구, 한국어, 40자 이내, 특수문자 제외\\n- 태그: 핵심 키워드 2~5개, 한국어 허용, 소문자, 공백 없이'\n    },\n    {\n      role: 'user',\n      content: '다음 텔레그램 메시지의 제목과 태그를 생성해줘.\\n\\n메시지:\\n' + text\n    }\n  ],\n  response_format: {\n    type: 'json_schema',\n    json_schema: {\n      name: 'note_metadata',\n      strict: true,\n      schema: {\n        type: 'object',\n        properties: {\n          title: { type: 'string' },\n          tags: { type: 'array', items: { type: 'string' } }\n        },\n        required: ['title', 'tags'],\n        additionalProperties: false\n      }\n    }\n  },\n  max_tokens: 200\n};\n\nreturn [{ json: { openai_body: JSON.stringify(body) } }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          640
        ],
        "id": "02b9f60b-667b-4486-bbd5-834a3e73cd0a",
        "name": "generate body"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "=\t{{ $json.openai_body }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          896,
          640
        ],
        "id": "322ff176-f514-4d5a-b37e-a5d4c421f3f2",
        "name": "Generate tag and title",
        "credentials": {
          "openAiApi": {
            "id": "UoYETyZhfRGH368H",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/옵시디언/Startegy_Investment/Telegram/{{ $('Build MD Content').first().json.date_str }}/{{ $('Build MD Content').first().json.file_name_md }}:/content\n",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "text/plain; charset=utf-8",
          "body": "={{ $('Build MD Content').first().json.md_content }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1568,
          560
        ],
        "id": "0ba25e8f-69dc-42f1-bbba-2ce59d874f40",
        "name": "uproad to drive",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "vDMXfiLw3K2FBkrH",
            "name": "Microsoft Drive account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Prepare Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Message": {
        "main": [
          [
            {
              "node": "Check Attachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Attachment": {
        "main": [
          [
            {
              "node": "Get File Info",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "generate body",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            },
            {
              "node": "generate body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File Info": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Upload Attachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Attachment": {
        "main": [
          []
        ]
      },
      "Build MD Content": {
        "main": [
          [
            {
              "node": "uproad to drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Build MD Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "generate body": {
        "main": [
          [
            {
              "node": "Generate tag and title",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate tag and title": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "uproad to drive": {
        "main": [
          [
            {
              "node": "Send Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "TaeHee Kim",
    "name": "Version 7af51231",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-26T12:50:52.094Z",
        "id": 81,
        "workflowId": "a5RvxdkYFp9VLw5A",
        "versionId": "7af51231-74bc-4378-8130-d381f09e3c70",
        "event": "activated",
        "userId": "e7556dbf-c6f9-4597-80f7-988115231e21"
      }
    ]
  }
}