projects/personal-growth-diary/workflows/01-telegram-bot.json
{"updatedAt":"2026-03-22T06:49:29.671Z","createdAt":"2026-03-22T06:49:29.671Z","id":"iEnGnRd4vX4jV2Hb","name":"WF-01 Telegram Bot (Diary + Goals)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"wf01-n01","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,300],"webhookId":"wf01-telegram-webhook","credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}},{"parameters":{"assignments":{"assignments":[{"id":"cfg-1","name":"SUPABASE_URL","value":"https://YOUR_PROJECT.supabase.co","type":"string"},{"id":"cfg-2","name":"SUPABASE_KEY","value":"YOUR_SUPABASE_ANON_KEY","type":"string"},{"id":"cfg-3","name":"BOT_TOKEN","value":"YOUR_TELEGRAM_BOT_TOKEN","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"wf01-n02","name":"Set Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,300]},{"parameters":{"method":"GET","url":"={{ $json.SUPABASE_URL }}/rest/v1/diary_sessions?chat_id=eq.{{ $('Telegram Trigger').first().json.message.chat.id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"wf01-n03","name":"Get Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,300]},{"parameters":{"jsCode":"\nconst msg = $('Telegram Trigger').first().json.message;\nconst sessionArr = $('Get Session').first().json;\nconst session = Array.isArray(sessionArr) ? sessionArr[0] : sessionArr;\nconst chatId = String(msg.chat.id);\nconst text = msg.text || '';\nconst isVoice = !!msg.voice;\nconst hasSession = session && session.chat_id;\nconst step = hasSession ? (session.step || 1) : 0;\n\nlet action = 'unknown';\nlet payload = { chatId };\n\nif (text.startsWith('/diary')) {\n  action = 'start_diary';\n  payload = { chatId };\n} else if (text.startsWith('/goals')) {\n  action = 'goals';\n  payload = { chatId, command: text.replace('/goals', '').trim() || 'show' };\n} else if (isVoice && hasSession && step >= 1 && step <= 5) {\n  action = 'voice_answer';\n  payload = { chatId, fileId: msg.voice.file_id, step, session };\n} else if (!isVoice && text && hasSession && step === 6) {\n  action = 'metrics';\n  payload = { chatId, metricsText: text, session };\n} else if (isVoice && !hasSession) {\n  // Voice without session -> auto start\n  action = 'start_diary_then_ask';\n  payload = { chatId };\n} else {\n  action = 'help';\n  payload = { chatId };\n}\n\nreturn [{ json: { action, ...payload } }];\n"},"id":"wf01-n04","name":"Process Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300]},{"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"start_diary","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"start_diary"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"voice_answer","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"voice_answer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"metrics","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"metrics"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"goals","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"goals"}]},"options":{}},"id":"wf01-n05","name":"Route","type":"n8n-nodes-base.switch","typeVersion":3,"position":[880,300]},{"parameters":{"method":"POST","url":"={{ $('Set Config').first().json.SUPABASE_URL }}/rest/v1/diary_sessions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({chat_id: String($json.chatId), step: 1, answers: {}, metrics: {}, updated_at: new Date().toISOString()}) }}","options":{}},"id":"wf01-n06","name":"Create Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,100]},{"parameters":{"chatId":"={{ $('Process Message').first().json.chatId }}","text":"📔 일기 작성을 시작할게요!\n\n1️⃣ 내일 가장 중요한 한 가지는 무엇인가요?\n\n음성으로 답해주세요 🎙️","additionalFields":{"appendAttribution":false}},"id":"wf01-n07","name":"Ask Question 1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1320,100],"credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}},{"parameters":{"method":"GET","url":"=https://api.telegram.org/bot{{ $('Set Config').first().json.BOT_TOKEN }}/getFile?file_id={{ $json.fileId }}","options":{}},"id":"wf01-n08","name":"Get File Info","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,340]},{"parameters":{"method":"GET","url":"=https://api.telegram.org/file/bot{{ $('Set Config').first().json.BOT_TOKEN }}/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"wf01-n09","name":"Download Voice","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,340]},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"data","options":{"language":"ko"}},"id":"wf01-n10","name":"Transcribe Audio","type":"n8n-nodes-base.openAi","typeVersion":1.7,"position":[1540,340],"credentials":{"openAiApi":{"id":"UoYETyZhfRGH368H","name":"OpenAi account"}}},{"parameters":{"jsCode":"\nconst fileId = $json.fileId;\nconst step = $json.step;\nconst session = $json.session || { step: 1, answers: {} };\nconst transcription = $('Transcribe Audio').first().json.text || '';\n\nconst fieldMap = {\n  1: 'tomorrow_priority', 2: 'todays_hardship',\n  3: 'gratitude', 4: 'day_summary', 5: 'todays_idea'\n};\nconst answers = { ...(session.answers || {}), [fieldMap[step]]: transcription };\nconst nextStep = step + 1;\n\nconst questions = {\n  2: '2️⃣ 오늘 힘들었거나 아쉬웠던 점은 무엇인가요?',\n  3: '3️⃣ 오늘 감사했던 일은 무엇인가요?',\n  4: '4️⃣ 오늘 하루를 한 마디로 표현하면?',\n  5: '5️⃣ 오늘 떠오른 아이디어나 생각이 있었나요?',\n};\nconst metricsMsg = '마지막이에요! 오늘의 수치를 입력해주세요 📊\\n\\n기분/에너지(1~10) / 수면시간 / 운동(O or X) / 목표달성률(0~100)\\n\\n예시: 7 / 6.5 / O / 80';\n\nreturn [{\n  json: {\n    chatId: $json.chatId,\n    nextStep,\n    answers,\n    nextMessage: nextStep <= 5 ? questions[nextStep] : metricsMsg,\n    isDone: nextStep > 5\n  }\n}];\n"},"id":"wf01-n11","name":"Save Answer","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,340]},{"parameters":{"method":"POST","url":"={{ $('Set Config').first().json.SUPABASE_URL }}/rest/v1/diary_sessions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({chat_id: $json.chatId, step: $json.nextStep, answers: $json.answers, updated_at: new Date().toISOString()}) }}","options":{}},"id":"wf01-n12","name":"Update Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,340]},{"parameters":{"chatId":"={{ $('Save Answer').first().json.chatId }}","text":"={{ $('Save Answer').first().json.nextMessage }}","additionalFields":{"appendAttribution":false}},"id":"wf01-n13","name":"Send Next Question","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2200,340],"credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}},{"parameters":{"jsCode":"\nconst text = $json.metricsText || '';\nconst session = $json.session || {};\nconst parts = text.split('/').map(s => s.trim());\nconst mood_energy = parseInt(parts[0]) || null;\nconst sleep_hours = parseFloat(parts[1]) || null;\nconst exercised = (parts[2] || '').toUpperCase() === 'O';\nconst goal_achievement = parseInt(parts[3]) || null;\n\nif (!mood_energy) {\n  return [{ json: { error: true, chatId: $json.chatId,\n    msg: '⚠️ 형식이 맞지 않아요.\\n예시: 7 / 6.5 / O / 80' } }];\n}\nreturn [{ json: {\n  chatId: $json.chatId,\n  mood_energy, sleep_hours, exercised, goal_achievement,\n  answers: session.answers || {}\n}}];\n"},"id":"wf01-n14","name":"Parse Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,580]},{"parameters":{"jsCode":"\nconst a = $json.answers || {};\nconst prompt = `당신은 따뜻하고 성찰적인 일기 작가입니다.\n아래 답변을 바탕으로 자연스러운 일기 초안을 한국어로 작성해주세요. 200~300자, 1인칭 서술.\n\n- 내일의 우선순위: ${a.tomorrow_priority || '-'}\n- 오늘의 어려움: ${a.todays_hardship || '-'}\n- 감사한 일: ${a.gratitude || '-'}\n- 오늘 하루 한 마디: ${a.day_summary || '-'}\n- 오늘의 아이디어: ${a.todays_idea || '-'}`;\n\nreturn [{ json: { prompt, ...($json) } }];\n"},"id":"wf01-n15","name":"Build Diary Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,580]},{"parameters":{"resource":"chat","messages":{"values":[{"content":"={{ $json.prompt }}","role":"user"}]},"simplifyOutput":true,"options":{}},"id":"wf01-n16","name":"Generate Diary Draft","type":"n8n-nodes-base.openAi","typeVersion":1.7,"position":[1540,580],"credentials":{"openAiApi":{"id":"UoYETyZhfRGH368H","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"={{ $('Set Config').first().json.SUPABASE_URL }}/rest/v1/diaries","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  date: new Date().toISOString().split('T')[0],\n  tomorrow_priority: $('Build Diary Prompt').first().json.answers.tomorrow_priority,\n  todays_hardship:   $('Build Diary Prompt').first().json.answers.todays_hardship,\n  gratitude:         $('Build Diary Prompt').first().json.answers.gratitude,\n  day_summary:       $('Build Diary Prompt').first().json.answers.day_summary,\n  todays_idea:       $('Build Diary Prompt').first().json.answers.todays_idea,\n  ai_draft:          $('Generate Diary Draft').first().json.message?.content || '',\n  mood_energy:       $('Parse Metrics').first().json.mood_energy,\n  sleep_hours:       $('Parse Metrics').first().json.sleep_hours,\n  exercised:         $('Parse Metrics').first().json.exercised,\n  goal_achievement:  $('Parse Metrics').first().json.goal_achievement\n}) }}","options":{}},"id":"wf01-n17","name":"Save Diary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,580]},{"parameters":{"method":"DELETE","url":"={{ $('Set Config').first().json.SUPABASE_URL }}/rest/v1/diary_sessions?chat_id=eq.{{ $('Parse Metrics').first().json.chatId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $('Set Config').first().json.SUPABASE_KEY }}"}]},"options":{}},"id":"wf01-n18","name":"Delete Session","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,580]},{"parameters":{"chatId":"={{ $('Parse Metrics').first().json.chatId }}","text":"✅ 오늘 일기가 저장됐어요!\n\n{{ $('Generate Diary Draft').first().json.message?.content || '' }}\n\n수고하셨어요. 내일도 좋은 하루 되세요 🌙","additionalFields":{"appendAttribution":false}},"id":"wf01-n19","name":"Send Completion","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2200,580],"credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}},{"parameters":{"method":"GET","url":"={{ $('Set Config').first().json.SUPABASE_URL }}/rest/v1/goals?status=eq.active&order=created_at.desc&limit=30","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $('Set Config').first().json.SUPABASE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"wf01-n20","name":"Get Goals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,820]},{"parameters":{"jsCode":"\nconst goals = $('Get Goals').first().json;\nconst arr = Array.isArray(goals) ? goals : [goals];\nif (!arr.length || !arr[0].id) {\n  return [{ json: { chatId: $json.chatId, msg: '아직 설정된 목표가 없어요.\\n\\n/goals set year - 연간 목표 설정\\n/goals set month - 월간 목표 설정\\n/goals set day - 오늘 목표 설정' } }];\n}\nconst byLevel = { year: [], month: [], day: [] };\nfor (const g of arr) {\n  if (byLevel[g.level]) byLevel[g.level].push(g);\n}\nlet msg = '🎯 나의 목표\\n\\n';\nif (byLevel.year.length)  msg += '📅 연간:\\n' + byLevel.year.map(g => `• ${g.title} [${g.status}]`).join('\\n') + '\\n\\n';\nif (byLevel.month.length) msg += '🗓 월간:\\n' + byLevel.month.map(g => `• ${g.title} [${g.status}]`).join('\\n') + '\\n\\n';\nif (byLevel.day.length)   msg += '📌 오늘:\\n' + byLevel.day.map(g => `• ${g.title} [${g.status}]`).join('\\n');\nreturn [{ json: { chatId: $json.chatId, msg } }];\n"},"id":"wf01-n21","name":"Format Goals","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,820]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.msg }}","additionalFields":{"appendAttribution":false}},"id":"wf01-n22","name":"Send Goals","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1540,820],"credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Get Session","type":"main","index":0}]]},"Get Session":{"main":[[{"node":"Process Message","type":"main","index":0}]]},"Process Message":{"main":[[{"node":"Route","type":"main","index":0}]]},"Route":{"main":[[{"node":"Create Session","type":"main","index":0}],[{"node":"Get File Info","type":"main","index":0}],[{"node":"Parse Metrics","type":"main","index":0}],[{"node":"Get Goals","type":"main","index":0}]]},"Create Session":{"main":[[{"node":"Ask Question 1","type":"main","index":0}]]},"Get File Info":{"main":[[{"node":"Download Voice","type":"main","index":0}]]},"Download Voice":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Save Answer","type":"main","index":0}]]},"Save Answer":{"main":[[{"node":"Update Session","type":"main","index":0}]]},"Update Session":{"main":[[{"node":"Send Next Question","type":"main","index":0}]]},"Parse Metrics":{"main":[[{"node":"Build Diary Prompt","type":"main","index":0}]]},"Build Diary Prompt":{"main":[[{"node":"Generate Diary Draft","type":"main","index":0}]]},"Generate Diary Draft":{"main":[[{"node":"Save Diary","type":"main","index":0}]]},"Save Diary":{"main":[[{"node":"Delete Session","type":"main","index":0}]]},"Delete Session":{"main":[[{"node":"Send Completion","type":"main","index":0}]]},"Get Goals":{"main":[[{"node":"Format Goals","type":"main","index":0}]]},"Format Goals":{"main":[[{"node":"Send Goals","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0e5732c4-392e-468b-88e6-67c2b8cef12e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T06:49:29.671Z","createdAt":"2026-03-22T06:49:29.671Z","role":"workflow:owner","workflowId":"iEnGnRd4vX4jV2Hb","projectId":"B6oTH5ZqWMHh4Gyp","project":{"updatedAt":"2026-03-15T11:11:16.680Z","createdAt":"2026-03-15T11:09:35.937Z","id":"B6oTH5ZqWMHh4Gyp","name":"TaeHee Kim <rlaxogml324@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e7556dbf-c6f9-4597-80f7-988115231e21"}}],"tags":[],"activeVersion":null}