projects/personal-growth-diary/workflows/02-daily-quote.json
{"updatedAt":"2026-03-22T06:49:28.489Z","createdAt":"2026-03-22T06:49:28.489Z","id":"1SVTgznT7a0BwJQT","name":"WF-02 Daily Quote","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 22 * * *"}]}},"id":"wf02-n01","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"resource":"chat","messages":{"values":[{"content":"세계적으로 유명한 인물의 격언을 하나 선택하고, 아래 형식만으로 한국어로 출력하세요.\n\n💬 \"{격언 원문}\"\n— {인물 이름}\n\n📖 오늘의 해설:\n{2~3문장으로 오늘 하루에 주는 의미를 따뜻하게 풀어주세요.}\n\n위 형식 외 다른 텍스트는 절대 추가하지 마세요.","role":"user"}]},"simplifyOutput":true,"options":{}},"id":"wf02-n02","name":"Generate Quote","type":"n8n-nodes-base.openAi","typeVersion":1.7,"position":[280,0],"credentials":{"openAiApi":{"id":"UoYETyZhfRGH368H","name":"OpenAi account"}}},{"parameters":{"jsCode":"const res = $input.first().json;\nconst text = res?.message?.content\n  || res?.choices?.[0]?.message?.content\n  || res?.text || JSON.stringify(res);\nreturn [{json: {quote: text}}];"},"id":"wf02-n03","name":"Extract Quote Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[560,0]},{"parameters":{"chatId":"YOUR_TELEGRAM_CHAT_ID","text":"={{ $json.quote }}","additionalFields":{"appendAttribution":false}},"id":"wf02-n04","name":"Send Quote","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[840,0],"credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Generate Quote","type":"main","index":0}]]},"Generate Quote":{"main":[[{"node":"Extract Quote Text","type":"main","index":0}]]},"Extract Quote Text":{"main":[[{"node":"Send Quote","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"03a6a433-6551-4205-b3e9-ea49692a485b","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T06:49:28.489Z","createdAt":"2026-03-22T06:49:28.489Z","role":"workflow:owner","workflowId":"1SVTgznT7a0BwJQT","projectId":"B6oTH5ZqWMHh4Gyp","project":{"updatedAt":"2026-03-15T11:11:16.680Z","createdAt":"2026-03-15T11:09:35.937Z","id":"B6oTH5ZqWMHh4Gyp","name":"TaeHee Kim <rlaxogml324@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e7556dbf-c6f9-4597-80f7-988115231e21"}}],"tags":[],"activeVersion":null}