projects/personal-growth-diary/workflows/03-calendar-optimizer.json
{"updatedAt":"2026-03-22T06:49:30.477Z","createdAt":"2026-03-22T06:49:30.477Z","id":"dxrvKgcG95vGBzZS","name":"WF-03 Calendar Optimizer","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 12 * * *"}]}},"id":"wf03-n01","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"cfg-1","name":"SUPABASE_URL","value":"https://YOUR_PROJECT.supabase.co","type":"string"},{"id":"cfg-2","name":"SUPABASE_KEY","value":"YOUR_SUPABASE_ANON_KEY","type":"string"},{"id":"cfg-3","name":"TELEGRAM_CHAT_ID","value":"YOUR_TELEGRAM_CHAT_ID","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"wf03-n02","name":"Set Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0]},{"parameters":{"method":"GET","url":"={{ $json.SUPABASE_URL }}/rest/v1/goals?status=eq.active&level=eq.month&limit=10","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $json.SUPABASE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $json.SUPABASE_KEY }}"}]},"options":{}},"id":"wf03-n03","name":"Get Active Goals","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-100]},{"parameters":{"calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"primary"},"timeMin":"={{ (() => { const d = new Date(); d.setDate(d.getDate()+1); d.setHours(0,0,0,0); return d.toISOString(); })() }}","timeMax":"={{ (() => { const d = new Date(); d.setDate(d.getDate()+2); d.setHours(0,0,0,0); return d.toISOString(); })() }}","options":{}},"id":"wf03-n04","name":"Get Tomorrow Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[440,100],"credentials":{"googleCalendarOAuth2Api":{"id":"Tf7B9bNuIpmBm8rR","name":"Google Calendar account"}}},{"parameters":{"mode":"combineBySingle","options":{}},"id":"wf03-n05","name":"Merge Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,0]},{"parameters":{"jsCode":"\nconst goalsRaw = $('Get Active Goals').first().json;\nconst goalsArr = Array.isArray(goalsRaw) ? goalsRaw : [goalsRaw];\nconst events = $('Get Tomorrow Events').all().map(i => i.json);\n\nconst goalList = goalsArr.map(g => `- [${g.level}] ${g.title} (${g.category || ''})`).join('\\n');\nconst eventList = events.length\n  ? events.map(e => `- ${e.summary}: ${e.start?.dateTime || e.start?.date}`).join('\\n')\n  : '(빈 일정)';\n\nconst prompt = `사용자의 내일 일정과 이번 달 목표를 분석하여, 빈 시간에 넣을 수 있는 활동을 최대 3개 제안해주세요.\n\n내일 기존 일정:\n${eventList}\n\n현재 목표:\n${goalList}\n\n규칙:\n- 30분~2시간 단위\n- 현실적인 계획\n- 각 제안에 연관 목표 명시\n\n반드시 아래 JSON 배열만 출력 (다른 텍스트 금지):\n[{\"title\":\"\",\"start_time\":\"HH:MM\",\"end_time\":\"HH:MM\",\"goal\":\"\",\"reason\":\"\"}]`;\n\nreturn [{ json: { prompt } }];\n"},"id":"wf03-n06","name":"Build Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"resource":"chat","messages":{"values":[{"content":"={{ $json.prompt }}","role":"user"}]},"simplifyOutput":true,"options":{}},"id":"wf03-n07","name":"Generate Suggestions","type":"n8n-nodes-base.openAi","typeVersion":1.7,"position":[1100,0],"credentials":{"openAiApi":{"id":"UoYETyZhfRGH368H","name":"OpenAi account"}}},{"parameters":{"jsCode":"\nconst raw = $('Generate Suggestions').first().json?.message?.content\n  || $('Generate Suggestions').first().json?.choices?.[0]?.message?.content || '[]';\nlet suggestions = [];\ntry {\n  const match = raw.match(/\\[.*\\]/s);\n  suggestions = match ? JSON.parse(match[0]) : [];\n} catch(e) { suggestions = []; }\n\nif (!suggestions.length) {\n  return [{ json: { noSuggestions: true } }];\n}\n\nconst today = new Date();\nconst tomorrow = new Date(today);\ntomorrow.setDate(today.getDate() + 1);\nconst dateStr = tomorrow.toISOString().split('T')[0];\n\nconst msg = '📅 내일 일정 최적화 제안이에요!\\n\\n'\n  + suggestions.map((s, i) =>\n    `⏰ ${s.start_time}~${s.end_time} | ${s.title}\\n   → ${s.goal}: ${s.reason}`\n  ).join('\\n\\n')\n  + '\\n\\n✅ 위 일정들이 Google Calendar에 자동 추가됩니다.';\n\nreturn suggestions.map(s => ({\n  json: {\n    summary: s.title,\n    startDateTime: `${dateStr}T${s.start_time}:00`,\n    endDateTime:   `${dateStr}T${s.end_time}:00`,\n    description:   `목표: ${s.goal} | ${s.reason}`,\n    msg\n  }\n}));\n"},"id":"wf03-n08","name":"Parse Suggestions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,0]},{"parameters":{"calendar":{"__rl":true,"value":"primary","mode":"list","cachedResultName":"primary"},"start":"={{ $json.startDateTime }}","end":"={{ $json.endDateTime }}","additionalFields":{"summary":"={{ $json.summary }}","description":"={{ $json.description }}"}},"id":"wf03-n09","name":"Create Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1540,0],"credentials":{"googleCalendarOAuth2Api":{"id":"Tf7B9bNuIpmBm8rR","name":"Google Calendar account"}}},{"parameters":{"chatId":"={{ $('Set Config').first().json.TELEGRAM_CHAT_ID }}","text":"={{ $('Parse Suggestions').first().json.msg || '오늘은 빈 시간이 없거나 목표 데이터가 없어요.' }}","additionalFields":{"appendAttribution":false}},"id":"wf03-n10","name":"Send Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,0],"credentials":{"telegramApi":{"id":"GYSLZJ7eRxpDkIRl","name":"나의 개인 비서"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Config","type":"main","index":0}]]},"Set Config":{"main":[[{"node":"Get Active Goals","type":"main","index":0},{"node":"Get Tomorrow Events","type":"main","index":0}]]},"Get Active Goals":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Get Tomorrow Events":{"main":[[{"node":"Merge Data","type":"main","index":1}]]},"Merge Data":{"main":[[{"node":"Build Prompt","type":"main","index":0}]]},"Build Prompt":{"main":[[{"node":"Generate Suggestions","type":"main","index":0}]]},"Generate Suggestions":{"main":[[{"node":"Parse Suggestions","type":"main","index":0}]]},"Parse Suggestions":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Send Notification","type":"main","index":0}]]}},"settings":{"timezone":"Asia/Seoul","executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"b775a6e6-ddc8-4847-a04c-a74ba2ac781e","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-22T06:49:30.477Z","createdAt":"2026-03-22T06:49:30.477Z","role":"workflow:owner","workflowId":"dxrvKgcG95vGBzZS","projectId":"B6oTH5ZqWMHh4Gyp","project":{"updatedAt":"2026-03-15T11:11:16.680Z","createdAt":"2026-03-15T11:09:35.937Z","id":"B6oTH5ZqWMHh4Gyp","name":"TaeHee Kim <rlaxogml324@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e7556dbf-c6f9-4597-80f7-988115231e21"}}],"tags":[],"activeVersion":null}